*
  margin: 0
  border: 0
  padding: 0
  box-sizing: border-box
  &:focus
    outline: none

body
  font-size: 12px
  font-family: Open_Sans, serif
  min-width: 320px
  overflow-x: hidden
  *> section
    overflow: hidden
html
  overflow-x: hidden

a
  color: $base_lite
  text-transform: uppercase
  text-decoration: none
  font-weight: 500
  &:hover
    border-bottom: 1px dashed $base_lite

.container
  padding: 0 15px
  margin: 0 auto
  @media (min-width: $sm)
    margin: 0 50px
  @media (min-width: $lg)
    max-width: 1170px
    margin: 0 auto

.title
  font-size: 20px
  font-weight: 400
  margin-bottom: 30px
  @media (min-width: $sm)
    font-size: 30px
  @media (min-width: $lg)
    font-size: 36px

.subtitle
  font-weight: 500
  margin-bottom: 1em
  font-size: 14px

.text
  font-size: 14px
  margin-bottom: 2em
  line-height: 25px
  @media (min-width: $lg)
    margin-bottom: 3em
    font-size: 16px
    line-height: 1.8em

.row
  &::after
    content: ''
    display: block
    clear: both

ul
  li
    list-style: none
    position: relative
    padding: .5em 0 .5em 20px
    &::before
      content: ''
      position: absolute
      width: 3px
      height: 9px
      border: 3px solid $base
      border-top: none
      border-left: none
      transform: rotate(45deg)
      transform-origin: center center
      left: 5px
      top: 1em