@font-face 
	font-family: 'Open_Sans'
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Open_Sans'
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Open_Sans'
	src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Open_Sans'
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Open_Sans'
	src: url('../fonts/Open_Sans/OpenSans-Light.ttf')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Circe'
	src: url('../fonts/Circe/Circe-Bold.otf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Circe'
	src: url('../fonts/Circe/Circe-ExtraBold.otf')
	font-weight: bold
	font-style: normal