@font-face {
  font-family: 'Open_Sans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Bold.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-ExtraBold.otf");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:focus {
    outline: none; }

body {
  font-size: 12px;
  font-family: Open_Sans, serif;
  min-width: 320px;
  overflow-x: hidden; }
  body * > section {
    overflow: hidden; }

html {
  overflow-x: hidden; }

a {
  color: #6823c1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500; }
  a:hover {
    border-bottom: 1px dashed #6823c1; }

.container {
  padding: 0 15px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      margin: 0 50px; } }
  @media (min-width: 1260px) {
    .container {
      max-width: 1170px;
      margin: 0 auto; } }

.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .title {
      font-size: 30px; } }
  @media (min-width: 1260px) {
    .title {
      font-size: 36px; } }

.subtitle {
  font-weight: 500;
  margin-bottom: 1em;
  font-size: 14px; }

.text, .tabContent__text {
  font-size: 14px;
  margin-bottom: 2em;
  line-height: 25px; }
  @media (min-width: 1260px) {
    .text, .tabContent__text {
      margin-bottom: 3em;
      font-size: 16px;
      line-height: 1.8em; } }

.row::after {
  content: '';
  display: block;
  clear: both; }

ul li {
  list-style: none;
  position: relative;
  padding: .5em 0 .5em 20px; }
  ul li::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 9px;
    border: 3px solid #5022b3;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    left: 5px;
    top: 1em; }

.btn {
  line-height: 1em;
  text-transform: uppercase;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  letter-spacing: .1em;
  font-size: 10px;
  background-color: #6823c1;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  padding: 13px 30px 12px;
  display: inline-block;
  text-align: center;
  border: none !important;
  -webkit-transition: .3s;
  transition: .3s; }
  .btn:hover {
    background-color: #813bdc;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }
  .btn_message {
    background-color: #46C2C2;
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0; }
    .btn_message:hover {
      background-color: #6ccfcf; }
  .btn .icon {
    position: relative;
    top: -1px;
    margin-left: 15px; }
  @media (min-width: 1260px) {
    .btn {
      padding: 21px 35px;
      font-size: 12px; } }

button.btn {
  font-weight: 600 !important;
  letter-spacing: 0.05em !important; }

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle; }
  .icon_arrow {
    background-image: url(../../svg/arrow-right_violet.svg); }
  .icon_plain {
    background-image: url(../../svg/plain.svg); }

.input {
  background-color: #fff;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  outline: none;
  border: none;
  padding: 0 20px;
  font-size: 12px;
  letter-spacing: .05em;
  height: 40px; }
  .input::-webkit-input-placeholder {
    color: #aaa; }
  .input::-moz-placeholder {
    color: #aaa; }
  .input:-ms-input-placeholder {
    color: #aaa; }
  .input::placeholder {
    color: #aaa; }
  @media (min-width: 1260px) {
    .input {
      font-size: 14px;
      height: 55px; } }

.quotes {
  text-align: center;
  background-image: url("../../svg/quotes.svg");
  background-repeat: no-repeat;
  background-position: center 20px;
  padding: 60px 0;
  font-size: 14px;
  line-height: 1.8em;
  background-size: 25px; }
  @media (min-width: 768px) {
    .quotes {
      background-size: 38px;
      padding: 80px 0;
      margin: 0 auto;
      max-width: 500px;
      font-size: 18px; } }
  @media (min-width: 1260px) {
    .quotes {
      font-size: 22px;
      max-width: 570px; } }

.firstScreen {
  position: relative;
  background-color: #6823c1; }
  .firstScreen__back, .firstScreen__circles, .firstScreen__lights {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; }
  .firstScreen__circles div, .firstScreen__lights div {
    position: absolute; }
    .firstScreen__circles div span, .firstScreen__lights div span {
      -webkit-border-radius: 9999px;
      border-radius: 9999px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .firstScreen__circles div::after, .firstScreen__lights div::after {
      content: '';
      display: block;
      padding-top: 100%; }
  .firstScreen__lights div {
    width: 1000px;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }
  .firstScreen__content {
    position: relative;
    color: #fff; }
  .firstScreen__bottom {
    position: relative;
    pointer-events: none;
    margin-bottom: -1px; }
    .firstScreen__bottom svg {
      display: block;
      width: 100%; }
  .firstScreen__lights div:first-child {
    top: 90%;
    left: 60%; }
    .firstScreen__lights div:first-child span {
      background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
      background-image: radial-gradient(#4a98d0, transparent 50%); }
  .firstScreen__lights div:nth-child(2) {
    left: 100px;
    top: 0; }
    .firstScreen__lights div:nth-child(2) span {
      background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
      background-image: radial-gradient(#4a98d0, transparent 50%); }
  .firstScreen__circles div:first-child {
    width: 200vw;
    left: 45%;
    top: 100px; }
    .firstScreen__circles div:first-child span {
      background-color: rgba(0, 0, 0, 0.1); }
  .firstScreen__circles div:nth-child(2) {
    width: 200vw;
    top: 120px;
    right: 30%; }
    .firstScreen__circles div:nth-child(2) span {
      background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
      background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6)); }
  .firstScreen__circles div:nth-child(3) {
    left: 70%;
    top: -80px;
    width: 300vw;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .firstScreen__circles div:nth-child(3) span {
      overflow: hidden;
      background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1));
      background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1)); }
  @media (max-width: 768px) {
    .firstScreen {
      margin-bottom: -10%; }
      .firstScreen__bottom {
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1); }
        .firstScreen__bottom svg {
          left: auto;
          width: 170%;
          -webkit-transform: scaleY(0.6);
              -ms-transform: scaleY(0.6);
                  transform: scaleY(0.6);
          -webkit-transform-origin: center bottom;
              -ms-transform-origin: center bottom;
                  transform-origin: center bottom; }
      .firstScreen__circles div:nth-child(4) {
        display: none; } }
  @media (min-width: 768px) and (max-width: 1260px) {
    .firstScreen__info {
      margin-bottom: -50px; } }
  @media (min-width: 768px) {
    .firstScreen {
      margin-bottom: -16%; }
      .firstScreen__right .firstScreenBot {
        -webkit-transition: 1.5s;
        transition: 1.5s; }
        .firstScreen__right .firstScreenBot:not(.active) {
          -webkit-transform: translate3d(700px, -200px, 0) rotate(-10deg) scale(0.7);
                  transform: translate3d(700px, -200px, 0) rotate(-10deg) scale(0.7); }
      .firstScreen__content {
        position: relative;
        color: #fff; }
        .firstScreen__content::after {
          content: '';
          display: block;
          clear: both; }
      .firstScreen__info, .firstScreen__right {
        width: 50%;
        float: left; }
      .firstScreen__circle.circle_1 {
        width: 100vw;
        height: 100vw;
        left: 45%; }
      .firstScreen__circle.circle_2 {
        width: 100vw;
        height: 100vw;
        top: 120px;
        right: 40%; }
      .firstScreen__circle.circle_3 {
        left: 60%;
        width: 80vw;
        height: 80vw; }
      .firstScreen__circles div:first-child {
        width: 100vw;
        left: 45%;
        top: 100px; }
        .firstScreen__circles div:first-child span {
          background-color: rgba(0, 0, 0, 0.1); }
      .firstScreen__circles div:nth-child(2) {
        width: 100vw;
        top: 120px;
        right: 40%; }
        .firstScreen__circles div:nth-child(2) span {
          background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6)); }
      .firstScreen__circles div:nth-child(3) {
        left: 60%;
        top: -80px;
        width: 80vw;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
        .firstScreen__circles div:nth-child(3) span {
          overflow: hidden;
          background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1));
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1)); }
          .firstScreen__circles div:nth-child(3) span::after {
            content: '';
            position: absolute;
            left: 0;
            top: 60%;
            width: 100vw;
            height: 100vw;
            background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
            background-image: radial-gradient(#4a98d0, transparent 50%); }
      .firstScreen__circles div:nth-child(4) {
        width: 33vw;
        top: 32vw;
        left: 77%; }
        .firstScreen__circles div:nth-child(4) span {
          background-color: rgba(0, 0, 0, 0.1); } }
  @media (max-width: 1260px) {
    .firstScreen__bottom svg {
      left: -40%;
      right: -20%;
      width: 160%;
      -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: center bottom;
          -ms-transform-origin: center bottom;
              transform-origin: center bottom; } }
  @media (min-width: 1260px) {
    .firstScreen {
      margin-bottom: -12%; }
      .firstScreen__circles div:first-child {
        width: 70vw;
        top: 80px;
        left: 40%; }
        .firstScreen__circles div:first-child span {
          background-color: rgba(0, 0, 0, 0.1); }
      .firstScreen__circles div:nth-child(2) {
        width: 70vw;
        top: 120px;
        right: 50%; }
        .firstScreen__circles div:nth-child(2) span {
          background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6)); }
      .firstScreen__circles div:nth-child(3) {
        right: -10%;
        width: 50vw;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
        .firstScreen__circles div:nth-child(3) span {
          overflow: hidden;
          background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1));
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1)); }
          .firstScreen__circles div:nth-child(3) span::after {
            content: '';
            position: absolute;
            left: 10%;
            width: 100vw;
            height: 100vw;
            background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
            background-image: radial-gradient(#4a98d0, transparent 50%); }
      .firstScreen__circles div:nth-child(4) {
        width: 33vw;
        top: 27vw;
        left: 67%; }
        .firstScreen__circles div:nth-child(4) span {
          background-color: rgba(0, 0, 0, 0.1); }
      .firstScreen__lights div {
        width: 1000px;
        -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0); }
        .firstScreen__lights div:first-child {
          left: 150px;
          top: 0; }
          .firstScreen__lights div:first-child span {
            background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
            background-image: radial-gradient(#4a98d0, transparent 50%); }
        .firstScreen__lights div:nth-child(2) {
          width: 80vw;
          left: 50%;
          top: 75%; }
          .firstScreen__lights div:nth-child(2) span {
            background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
            background-image: radial-gradient(#4a98d0, transparent 50%); } }
  @media (min-width: 1560px) {
    .firstScreen {
      margin-bottom: -16%; }
      .firstScreen__bottom svg {
        -webkit-transform: scaleY(0.71);
            -ms-transform: scaleY(0.71);
                transform: scaleY(0.71);
        -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
                transform-origin: center top; }
      .firstScreen__bottom::after {
        content: '';
        display: block;
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff; } }

.firstScreenInfo {
  padding-top: 35px; }
  .firstScreenInfo__icons {
    width: 220px;
    margin-bottom: 20px; }
    .firstScreenInfo__icons::after {
      content: '';
      display: block;
      clear: both; }
  .firstScreenInfo__icon {
    display: block;
    border: none !important;
    float: left;
    width: 25%;
    position: relative; }
    .firstScreenInfo__icon:first-child svg {
      top: 2px; }
    .firstScreenInfo__icon svg {
      position: relative;
      width: 20px; }
      .firstScreenInfo__icon svg .group {
        -webkit-transition: .3s;
        transition: .3s; }
    .firstScreenInfo__icon::before {
      content: '';
      position: absolute;
      top: -5px;
      bottom: 0;
      left: -5px;
      width: 30px;
      height: 30px;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-border-radius: 999px;
      border-radius: 999px;
      -webkit-transition: .3s;
      transition: .3s;
      opacity: 0;
      -webkit-transition-timing-function: cubic-bezier(0.16, 0.43, 0.38, 1.59);
              transition-timing-function: cubic-bezier(0.16, 0.43, 0.38, 1.59); }
    .firstScreenInfo__icon:hover::before {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1; }
    .firstScreenInfo__icon:hover .group {
      fill: #6823c1 !important; }
  .firstScreenInfo__title {
    font-weight: 600;
    font-size: 25px;
    max-width: 400px;
    margin-bottom: 25px;
    line-height: 1.6em; }
  .firstScreenInfo__desc {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: .07em;
    line-height: 1.8em;
    margin-bottom: 25px;
    max-width: 300px; }
  @media (min-width: 768px) {
    .firstScreenInfo {
      padding-top: 40px; } }
  @media (min-width: 1260px) {
    .firstScreenInfo__icons {
      width: 250px;
      margin-bottom: 40px; }
      .firstScreenInfo__icons svg {
        width: 30px; }
    .firstScreenInfo__icon::before {
      width: 40px;
      height: 40px; }
    .firstScreenInfo__title {
      font-size: 35px;
      max-width: 400px;
      margin-bottom: 25px; }
    .firstScreenInfo__desc {
      font-size: 16px;
      margin-bottom: 25px;
      max-width: 380px; } }

.callbackForm {
  position: relative;
  height: 40px;
  width: 200px;
  -webkit-transition: .5s;
  transition: .5s; }
  .callbackForm__btn {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #f8d548;
    color: #3b1577;
    -webkit-transition: .5s;
    transition: .5s;
    line-height: 12px;
    padding-top: 0;
    padding-bottom: 0; }
    .callbackForm__btn::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .callbackForm__btn .icon {
      margin: 0;
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px);
      -webkit-transition: .5s;
      transition: .5s; }
  .callbackForm__input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; }
  .callbackForm:hover {
    width: 100%; }
    .callbackForm:hover .callbackForm__btn {
      -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
              transform: scale(0.6);
      width: 40px;
      font-size: 0;
      padding-left: 0;
      padding-right: 0; }
      .callbackForm:hover .callbackForm__btn .icon {
        -webkit-transform: scale(1.4);
            -ms-transform: scale(1.4);
                transform: scale(1.4); }
  @media (min-width: 1260px) {
    .callbackForm {
      height: 55px;
      width: 220px; }
      .callbackForm__btn {
        line-height: 12px; }
      .callbackForm:hover {
        width: 335px; }
        .callbackForm:hover .callbackForm__btn {
          -webkit-transform: scale(0.6);
              -ms-transform: scale(0.6);
                  transform: scale(0.6);
          width: 55px; } }

.header {
  position: relative;
  padding: 15px 0; }
  .header__logo {
    width: 140px;
    display: block;
    border: none !important; }
  .header__menuBtn {
    display: none;
    width: 22px;
    position: absolute;
    top: 25px;
    right: 0; }
    .header__menuBtn span {
      display: block;
      height: 2px;
      background-color: #ffffff; }
      .header__menuBtn span:not(:last-child) {
        margin-bottom: 4px; }
  @media (max-width: 768px) {
    .header__menu {
      display: none; } }
  @media (min-width: 768px) {
    .header {
      padding: 40px 0; }
      .header__menuBtn {
        display: none; }
      .header::after {
        content: '';
        display: block;
        clear: both; }
      .header__logo {
        float: left; }
      .header__menu {
        padding-top: 5px;
        width: 400px;
        float: right; } }

@media (min-width: 768px) {
  .firstScreenChat {
    padding-top: 100px; } }

@media (min-width: 1260px) {
  .firstScreenChat {
    padding-top: 80px; } }

.botMessages {
  position: relative; }
  .botMessages__msg {
    padding-bottom: 7px;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: right; }
  .botMessages__msgOuter {
    -webkit-transition: .5s;
    transition: .5s;
    overflow: visible !important; }
    .botMessages__msgOuter.waiting {
      -webkit-transform: translateX(80%) translateY(30px) scale(0.8);
          -ms-transform: translateX(80%) translateY(30px) scale(0.8);
              transform: translateX(80%) translateY(30px) scale(0.8);
      opacity: 0; }
    .botMessages__msgOuter.removed {
      -webkit-transition: 0s;
      transition: 0s; }
      .botMessages__msgOuter.removed .botMessages__msg {
        -webkit-transform: translateY(-150%) scale(1.2);
            -ms-transform: translateY(-150%) scale(1.2);
                transform: translateY(-150%) scale(1.2);
        opacity: 0; }
  @media (min-width: 1260px) {
    .botMessages__msg {
      padding-bottom: 15px; } }

.botMessage {
  background-color: rgba(0, 213, 229, 0.5);
  padding: 8px 10px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  position: relative;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  text-align: left; }
  .botMessage::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border: 4px solid rgba(0, 213, 229, 0.5);
    border-top-color: transparent;
    border-right-color: transparent; }
  .botMessage::after {
    content: '';
    display: block;
    clear: both; }
  .botMessage img {
    width: 120px; }
    .botMessage img.product {
      -webkit-border-radius: 10px;
      border-radius: 10px; }
      .botMessage img.product:first-child {
        margin-right: 10px; }
  .botMessage .btn {
    font-size: 10px;
    padding: 5px 15px;
    text-transform: none; }
  .botMessage .iphone {
    width: 100px;
    -webkit-border-radius: 17px;
            border-radius: 17px;
    position: relative;
    overflow: hidden;
    background-color: #6723c1; }
    .botMessage .iphone::before {
      content: '';
      width: 500px;
      height: 500px;
      position: absolute;
      background-image: -webkit-radial-gradient(#4a98d0, transparent 50%);
      background-image: radial-gradient(#4a98d0, transparent 50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      top: -20px;
      left: -40px; }
    .botMessage .iphone__circle span {
      position: absolute;
      width: 200px;
      -webkit-border-radius: 999px;
      border-radius: 999px; }
      .botMessage .iphone__circle span::after {
        content: '';
        display: block;
        padding-top: 100%; }
      .botMessage .iphone__circle span:first-child {
        width: 300px;
        background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
        background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
        bottom: 0;
        right: 50%;
        -webkit-transform: translateY(30%);
            -ms-transform: translateY(30%);
                transform: translateY(30%); }
      .botMessage .iphone__circle span:nth-child(2) {
        background-color: rgba(0, 0, 0, 0.1);
        top: -90px;
        left: 30%; }
      .botMessage .iphone__circle span:nth-child(3) {
        background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.3));
        background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.3));
        top: 100%;
        left: 10px;
        -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
                transform: translateY(-30%); }
    .botMessage .iphone__img {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url(../../img/iphone.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    .botMessage .iphone__coin, .botMessage .iphone__check {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      -webkit-transition: .5s;
      transition: .5s; }
    .botMessage .iphone__coin {
      background-image: url(../../svg/rub.svg); }
    .botMessage .iphone__check {
      background-image: url(../../svg/check.svg);
      -webkit-transform: translateY(-50%) translateX(-50%) scale(0.2);
          -ms-transform: translateY(-50%) translateX(-50%) scale(0.2);
              transform: translateY(-50%) translateX(-50%) scale(0.2);
      opacity: 0; }
    .botMessage .iphone.active .iphone__coin {
      -webkit-transform: translateY(-150px) translateX(-50%);
          -ms-transform: translateY(-150px) translateX(-50%);
              transform: translateY(-150px) translateX(-50%); }
    .botMessage .iphone.active .iphone__check {
      -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
          -ms-transform: translateY(-50%) translateX(-50%) scale(1);
              transform: translateY(-50%) translateX(-50%) scale(1);
      opacity: 1; }
    .botMessage .iphone::after {
      content: '';
      display: block;
      padding-top: 200%; }
  .botMessage .stars svg {
    display: inline-block;
    width: 15px; }
    .botMessage .stars svg:not(:last-child) {
      margin-right: 7px; }
    .botMessage .stars svg path {
      fill: #fff; }
    .botMessage .stars svg:nth-child(2) path {
      -webkit-transition-delay: .4s;
              transition-delay: .4s; }
    .botMessage .stars svg:nth-child(3) path {
      -webkit-transition-delay: .8s;
              transition-delay: .8s; }
    .botMessage .stars svg:nth-child(4) path {
      -webkit-transition-delay: 1.2s;
              transition-delay: 1.2s; }
    .botMessage .stars svg:nth-child(5) path {
      -webkit-transition-delay: 1.6s;
              transition-delay: 1.6s; }
  .botMessage .stars.active svg {
    -webkit-animation: pulse .5s 1;
            animation: pulse .5s 1; }
    .botMessage .stars.active svg:nth-child(2) {
      -webkit-animation-delay: .4s;
              animation-delay: .4s; }
    .botMessage .stars.active svg:nth-child(3) {
      -webkit-animation-delay: .8s;
              animation-delay: .8s; }
    .botMessage .stars.active svg:nth-child(4) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; }
    .botMessage .stars.active svg:nth-child(5) {
      -webkit-animation-delay: 1.6s;
              animation-delay: 1.6s; }
    .botMessage .stars.active svg path {
      fill: #f8d548; }
  @media (min-width: 1260px) {
    .botMessage {
      padding: 15px;
      font-size: 14px; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.firstScreenBot {
  position: relative;
  padding-top: 20px; }
  .firstScreenBot__dialog {
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: 25px; }
  .firstScreenBot__bot {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 60%;
    background-image: url(../../img/bot_01.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation: flying 20s infinite;
            animation: flying 20s infinite; }
  .firstScreenBot__chat {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-delay: 3s;
            transition-delay: 3s; }
  @media (max-width: 768px) {
    .firstScreenBot__dialog, .firstScreenBot__bot {
      display: none; } }
  @media (min-width: 768px) {
    .firstScreenBot {
      height: 230px; }
      .firstScreenBot__chat {
        position: absolute;
        right: 0;
        top: 90%; }
      .firstScreenBot:not(.active) .firstScreenBot__dialog {
        opacity: 0; }
      .firstScreenBot:not(.active) .firstScreenBot__chat {
        opacity: 0;
        -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
                transform: translateY(-20px); } }
  @media (min-width: 1260px) {
    .firstScreenBot {
      height: 380px; }
      .firstScreenBot__chat {
        top: 100%; } }

@-webkit-keyframes flying {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0); }
  25% {
    -webkit-transform: translateY(10px) translateX(5px);
            transform: translateY(10px) translateX(5px); }
  50% {
    -webkit-transform: translateY(0) translateX(-2px);
            transform: translateY(0) translateX(-2px); }
  62% {
    -webkit-transform: translateY(10px) translateX(7px);
            transform: translateY(10px) translateX(7px); }
  75% {
    -webkit-transform: translateY(-5px) translateX(0);
            transform: translateY(-5px) translateX(0); }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0); } }

@keyframes flying {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0); }
  25% {
    -webkit-transform: translateY(10px) translateX(5px);
            transform: translateY(10px) translateX(5px); }
  50% {
    -webkit-transform: translateY(0) translateX(-2px);
            transform: translateY(0) translateX(-2px); }
  62% {
    -webkit-transform: translateY(10px) translateX(7px);
            transform: translateY(10px) translateX(7px); }
  75% {
    -webkit-transform: translateY(-5px) translateX(0);
            transform: translateY(-5px) translateX(0); }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0); } }

.tabContent {
  font-size: 14px; }
  .tabContent__title {
    font-weight: 500;
    margin-bottom: 1em; }
  @media (min-width: 768px) {
    .tabContent__title {
      font-size: 18px; } }

.tabs__content .owl-dots {
  text-align: center; }

.tabs__content .owl-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 99px;
  border-radius: 99px;
  background-color: #d8d8d8;
  margin: 0 6px; }
  .tabs__content .owl-dot.active {
    background-color: #6823c1; }

.tabs__tab {
  height: 270px;
  padding-left: 15px;
  padding-right: 15px; }

.tabs__slider {
  margin-left: -15px;
  margin-right: -15px; }

@media (max-width: 1260px) {
  .tabs__head {
    display: none; } }

@media (min-width: 768px) {
  .tabs__content .owl-dots {
    padding-left: 20px;
    margin-right: -100%;
    position: relative;
    z-index: 20; } }

@media (min-width: 1260px) {
  .tabs__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .tabs__btn {
    color: #BBBBBC;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px dashed #bbbbbc;
    cursor: pointer; }
    .tabs__btn.active {
      color: #6823c1;
      border: none;
      font-weight: 600; }
  .tabs__content {
    padding-top: 60px; }
    .tabs__content .owl-dots {
      display: none; }
    .tabs__content .owl-stage {
      width: 100% !important;
      position: relative;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important; }
    .tabs__content .owl-stage-outer {
      overflow: visible; }
    .tabs__content .owl-item {
      position: static; }
  .tabs__tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-delay: .3s;
            transition-delay: .3s; }
    .tabs__tab:not(.active) {
      -webkit-transform: translateY(-30px);
          -ms-transform: translateY(-30px);
              transform: translateY(-30px);
      opacity: 0;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      pointer-events: none; } }

.trustSection {
  overflow: hidden;
  z-index: 10;
  position: relative;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .trustSection__right {
      display: none; } }
  @media (min-width: 768px) {
    .trustSection::after {
      content: '';
      display: block;
      clear: both; }
    .trustSection__left, .trustSection__right {
      width: 50%;
      float: left; }
    .trustSection__left {
      padding-right: 20px; } }
  @media (min-width: 1260px) {
    .trustSection {
      margin-top: -150px; }
      .trustSection__left {
        padding-right: 130px; }
      .trustSection .quotes {
        margin-bottom: 50px; } }

.smartPhoneWrapper {
  position: relative;
  margin-right: -100px; }
  .smartPhoneWrapper::after {
    content: '';
    display: block;
    padding-top: 77%; }
  .smartPhoneWrapper__back {
    background-color: #5022b3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; }
    .smartPhoneWrapper__back .circles, .smartPhoneWrapper__back .lights {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .smartPhoneWrapper__back .circles div, .smartPhoneWrapper__back .lights div {
        -webkit-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
        position: absolute; }
        .smartPhoneWrapper__back .circles div::after, .smartPhoneWrapper__back .lights div::after {
          content: '';
          display: block;
          padding-top: 100%; }
        .smartPhoneWrapper__back .circles div span, .smartPhoneWrapper__back .lights div span {
          -webkit-border-radius: 9999px;
          border-radius: 9999px;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
    .smartPhoneWrapper__back .lights div {
      width: 700px;
      height: 700px;
      top: 150%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0); }
      .smartPhoneWrapper__back .lights div span {
        background-image: -webkit-radial-gradient(#4a98d0, transparent 60%);
        background-image: radial-gradient(#4a98d0, transparent 60%); }
    .smartPhoneWrapper__back .circles div {
      width: 200px; }
      .smartPhoneWrapper__back .circles div:first-child {
        width: 150px;
        top: 50%; }
        .smartPhoneWrapper__back .circles div:first-child span {
          background-image: -webkit-radial-gradient(50% 84% circle, transparent 20%, rgba(74, 152, 208, 0.6) 215%);
          background-image: radial-gradient(circle at 50% 84%, transparent 20%, rgba(74, 152, 208, 0.6) 215%); }
      .smartPhoneWrapper__back .circles div:nth-child(2) {
        width: 35vw;
        left: 40%;
        top: 35%; }
        .smartPhoneWrapper__back .circles div:nth-child(2) span {
          background-image: -webkit-radial-gradient(transparent 20%, rgba(0, 0, 0, 0.3) 215%);
          background-image: radial-gradient(transparent 20%, rgba(0, 0, 0, 0.3) 215%); }
      .smartPhoneWrapper__back .circles div:nth-child(3) {
        width: 20vw;
        left: 40%;
        top: 35%; }
        .smartPhoneWrapper__back .circles div:nth-child(3) span {
          background-image: -webkit-radial-gradient(transparent 20%, rgba(0, 0, 0, 0.3) 215%);
          background-image: radial-gradient(transparent 20%, rgba(0, 0, 0, 0.3) 215%); }
      .smartPhoneWrapper__back .circles div:nth-child(4) {
        left: 70%;
        top: 80%; }
        .smartPhoneWrapper__back .circles div:nth-child(4) span {
          background-image: -webkit-radial-gradient(84% 50% circle, transparent 20%, rgba(74, 152, 208, 0.8) 150%);
          background-image: radial-gradient(circle at 84% 50%, transparent 20%, rgba(74, 152, 208, 0.8) 150%); }
  .smartPhoneWrapper__borderTop, .smartPhoneWrapper__borderBottom {
    position: absolute;
    left: -2px;
    right: -2px; }
    .smartPhoneWrapper__borderTop svg, .smartPhoneWrapper__borderBottom svg {
      width: 100%;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
  .smartPhoneWrapper__borderTop {
    top: -2px; }
  .smartPhoneWrapper__borderBottom {
    top: 20%; }
  .smartPhoneWrapper__smartPhone {
    width: 45%;
    left: 100px;
    top: -50px;
    position: absolute; }

.smartPhone {
  background-image: url(../../img/screen.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .smartPhone::after {
    content: '';
    display: block;
    padding-top: 200%; }
  .smartPhone__dialog {
    background-color: #ececec;
    position: absolute;
    top: 13%;
    bottom: 17%;
    left: 6%;
    right: 6%;
    overflow: hidden; }
  .smartPhone__owl.owl-carousel {
    z-index: unset; }
  .smartPhone__owl .owl-item .smartPhoneDialog > div {
    -webkit-transition: .2s;
    transition: .2s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_1 > div:first-child {
    -webkit-transition-delay: .5s;
            transition-delay: .5s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_1 > div:nth-child(2) {
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_1 > div:nth-child(3) {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_2 > div:first-child {
    -webkit-transition-delay: .5s;
            transition-delay: .5s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_2 > div:nth-child(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_2 > div:nth-child(3) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_2 > div:nth-child(4) {
    -webkit-transition-delay: 6.3s;
            transition-delay: 6.3s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_2 > div:nth-child(5) {
    -webkit-transition-delay: 6.8s;
            transition-delay: 6.8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_3 > div:first-child {
    -webkit-transition-delay: .5s;
            transition-delay: .5s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_3 > div:nth-child(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_3 > div:nth-child(3) {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_3 > div:nth-child(4) {
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_4 > div:first-child {
    -webkit-transition-delay: .5s;
            transition-delay: .5s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_4 > div:nth-child(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_4 > div:nth-child(3) {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_4 > div:nth-child(4) {
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s; }
  .smartPhone__owl .owl-item .smartPhoneDialog_4 > div:nth-child(5) {
    -webkit-transition-delay: 3.1s;
            transition-delay: 3.1s; }
  .smartPhone__owl .owl-item:not(.active) .smartPhoneDialog > div {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px); }

.statistic {
  background-color: rgba(38, 103, 255, 0.05);
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 23%; }
  .statistic__top, .statistic__bottom {
    position: absolute;
    left: -200px;
    right: -200px; }
    .statistic__top svg, .statistic__bottom svg {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%; }
  .statistic__top {
    top: -1px; }
  .statistic__bottom {
    pointer-events: none;
    bottom: -1px;
    left: -50%;
    right: -15%;
    width: 200%; }
    .statistic__bottom svg {
      bottom: 0; }
  @media (max-width: 768px) {
    .statistic .container {
      padding-bottom: 50px; }
    .statistic__diagram {
      display: none; } }
  @media (min-width: 768px) {
    .statistic {
      padding-bottom: 11%; }
      .statistic__top, .statistic__bottom {
        left: 0;
        right: 0; }
      .statistic__bottom {
        width: 100%; }
      .statistic__row {
        margin-bottom: 50px; }
        .statistic__row::after {
          content: '';
          display: block;
          clear: both; }
      .statistic__col {
        width: 50%;
        float: left;
        min-height: 1px; }
      .statistic__diagram {
        margin-top: -40px; }
        .statistic__diagram .statisticDiagram {
          width: 300px;
          float: right;
          margin-right: 60px; } }
  @media (min-width: 1260px) {
    .statistic {
      padding-top: 100px;
      padding-bottom: 13%; }
      .statistic .quotes {
        margin-bottom: 60px; }
      .statistic__top, .statistic__bottom {
        left: 0;
        right: 0; }
      .statistic__bottom {
        width: 100%; }
      .statistic__diagram {
        margin-top: -20px;
        text-align: center; }
        .statistic__diagram .statisticDiagram {
          width: 420px;
          display: inline-block;
          margin-right: auto;
          float: none; }
      .statistic__col:nth-child(2) {
        padding-right: 100px; } }
  @media (min-width: 1560px) {
    .statistic {
      padding-bottom: 9%; }
      .statistic__top, .statistic__bottom {
        -webkit-transform: scaleY(0.6);
            -ms-transform: scaleY(0.6);
                transform: scaleY(0.6); } }

.statisticBar {
  position: relative;
  width: 110px;
  height: 180px; }
  .statisticBar * {
    -webkit-transition: .5s;
    transition: .5s; }
  .statisticBar__outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
            transform: scaleY(0.6);
    -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
            transform-origin: center bottom; }
  .statisticBar__top {
    position: absolute;
    width: 70.7%;
    bottom: 100%;
    left: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    background-color: #813bdc; }
    .statisticBar__top::after {
      content: '';
      display: block;
      padding-top: 100%; }
  .statisticBar__left {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: #6823c1;
    -webkit-transform: skewY(45deg);
        -ms-transform: skewY(45deg);
            transform: skewY(45deg);
    -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
            transform-origin: right bottom; }
  .statisticBar__right {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #9d67e3;
    -webkit-transform: skewY(-45deg);
        -ms-transform: skewY(-45deg);
            transform: skewY(-45deg);
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom; }
  .statisticBar__number {
    color: #6823c1;
    font-size: 40px;
    font-weight: bold;
    top: 100%;
    left: 100%;
    position: absolute;
    -webkit-transform: scaleY(0.6) rotate(45deg);
        -ms-transform: scaleY(0.6) rotate(45deg);
            transform: scaleY(0.6) rotate(45deg);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    margin-top: -20px; }

.statisticDiagram {
  position: relative;
  height: 300px; }
  .statisticDiagram__bars {
    position: absolute;
    bottom: 0;
    left: 50px; }
  .statisticDiagram__bar {
    position: absolute;
    bottom: 0; }
    .statisticDiagram__bar:first-child {
      left: 85px;
      bottom: 50px; }
      .statisticDiagram__bar:first-child .statisticBar {
        height: 150px; }
        .statisticDiagram__bar:first-child .statisticBar__top {
          background-color: #46C2C2; }
        .statisticDiagram__bar:first-child .statisticBar__left {
          background-color: #35a0a0; }
        .statisticDiagram__bar:first-child .statisticBar__right {
          background-color: #6ccfcf; }
        .statisticDiagram__bar:first-child .statisticBar__number {
          color: #46C2C2; }
    .statisticDiagram__bar:nth-child(2) {
      left: 0; }
      .statisticDiagram__bar:nth-child(2) .statisticBar {
        height: 300px; }
  .statisticDiagram__icons {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 90px; }
    .statisticDiagram__icons svg {
      opacity: .5;
      width: 20px;
      display: block;
      margin-bottom: 20px; }
      .statisticDiagram__icons svg use {
        fill: #5022b3 !important; }
    .statisticDiagram__icons_right {
      left: 270px; }
  @media (min-width: 1260px) {
    .statisticDiagram {
      height: 350px; }
      .statisticDiagram__bars {
        left: 70px; }
        .statisticDiagram__bars .statisticBar {
          width: 160px; }
      .statisticDiagram__bar:first-child {
        left: 120px;
        bottom: 70px; }
        .statisticDiagram__bar:first-child .statisticBar {
          height: 200px; }
      .statisticDiagram__bar:nth-child(2) .statisticBar {
        height: 400px; }
      .statisticDiagram__icons {
        padding-top: 50px; }
        .statisticDiagram__icons svg {
          width: 30px;
          margin-bottom: 40px; }
        .statisticDiagram__icons_right {
          left: 380px; } }

.crm {
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .crm__img {
      display: none; } }
  @media (min-width: 768px) {
    .crm__row {
      position: relative; }
    .crm__info {
      width: 50%; }
    .crm__img {
      position: absolute;
      right: 0;
      top: -20px;
      bottom: 0;
      left: 50%; } }
  @media (min-width: 1260px) {
    .crm {
      padding-bottom: 150px; }
      .crm__img {
        top: -50px; }
      .crm__info {
        padding-right: 100px; }
      .crm .quotes {
        margin-bottom: 100px; } }

.examples {
  padding-top: 30px;
  padding-bottom: 80px; }
  @media (min-width: 768px) {
    .examples {
      padding-top: 50px; }
      .examples__title {
        padding-left: 50%; } }
  @media (min-width: 1260px) {
    .examples {
      padding-top: 80px; }
      .examples__title {
        padding-right: 120px; } }

.steps {
  color: #ffffff;
  position: relative;
  padding-top: 70px;
  padding-bottom: 60px;
  overflow: hidden; }
  .steps .container {
    position: relative; }
  .steps__back {
    display: block;
    position: absolute;
    width: 300%;
    height: 300%;
    background-color: #6823c1;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 50%;
    bottom: 0;
    overflow: hidden; }
    .steps__back::after, .steps__back::before {
      content: '';
      width: 700px;
      height: 700px;
      position: absolute;
      background-image: -webkit-radial-gradient(#4a98d0, transparent 60%);
      background-image: radial-gradient(#4a98d0, transparent 60%);
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0); }
    .steps__back::after {
      top: 106%;
      left: 50%; }
    .steps__back::before {
      bottom: -50px;
      left: 50%; }
  .steps li::before {
    border-color: #ffffff; }
  .steps .title {
    text-align: center;
    margin-bottom: 10px; }
  .steps__top {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0; }
    .steps__top svg {
      width: 100%; }
  .steps__slider {
    margin-left: -15px;
    margin-right: -15px; }
  .steps__item {
    padding-left: 15px;
    padding-right: 15px; }
  .steps__owl:not(.owl-carousel) .steps__item ~ .steps__item {
    display: none; }
  .steps__owl .owl-dots {
    text-align: center; }
  .steps__owl .owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 99px;
    border-radius: 99px;
    background-color: #fff;
    margin: 0 6px; }
    .steps__owl .owl-dot.active {
      background-color: #46C2C2; }
  @media (max-width: 768px) {
    .steps__control {
      display: none; }
    .steps__img {
      display: none; } }
  @media (min-width: 768px) {
    .steps {
      padding-top: 110px;
      padding-bottom: 90px; }
      .steps__control {
        z-index: 20;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 600px;
        margin: 0 auto;
        padding-bottom: 30px; }
      .steps__back {
        width: 1980px; }
      .steps__btn {
        text-transform: uppercase; }
        .steps__btn:hover, .steps__btn.active {
          color: #46C2C2;
          cursor: pointer; }
      .steps .title {
        margin-bottom: 60px; }
      .steps__owl {
        z-index: 10; }
        .steps__owl .owl-dots {
          display: none; }
        .steps__owl .owl-stage {
          width: 100% !important;
          position: relative;
          -webkit-transform: none !important;
              -ms-transform: none !important;
                  transform: none !important;
          height: 400px; }
        .steps__owl .owl-stage-outer {
          overflow: visible; }
        .steps__owl .owl-item {
          position: static; }
      .steps__item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transition: .3s;
        transition: .3s;
        -webkit-transition-delay: .3s;
                transition-delay: .3s; }
        .steps__item:not(.active) {
          -webkit-transform: translateY(30px);
              -ms-transform: translateY(30px);
                  transform: translateY(30px);
          opacity: 0;
          -webkit-transition-delay: 0s;
                  transition-delay: 0s; } }
  @media (min-width: 768px) {
    .steps__back {
      width: 300vw;
      height: 300vw;
      -webkit-border-radius: 99999px;
      border-radius: 99999px; } }
  @media (min-width: 1260px) {
    .steps {
      padding-top: 140px;
      padding-bottom: 150px; }
      .steps .title {
        margin-bottom: 50px; }
      .steps__back::before {
        bottom: auto;
        width: 100vw;
        height: 100vw;
        top: 80%; }
      .steps__back::after {
        top: 103%;
        width: 100vw;
        height: 100vw; } }

.stepsSlide {
  padding-top: 60px; }
  .stepsSlide__number {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    font-size: 200px;
    line-height: 1em;
    font-family: Circe, serif;
    font-weight: bold;
    color: rgba(157, 103, 227, 0.4); }
  .stepsSlide__text {
    position: relative; }
    .stepsSlide__text small {
      display: block;
      font-size: 80%;
      line-height: 1.6em;
      color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 768px) {
    .stepsSlide__img {
      display: none; } }
  @media (min-width: 768px) {
    .stepsSlide {
      padding-top: 45px; }
      .stepsSlide::after {
        content: '';
        display: block;
        clear: both; }
      .stepsSlide__left, .stepsSlide__text {
        width: 50%;
        float: left; }
      .stepsSlide__img {
        position: relative;
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1);
        text-align: center;
        padding-top: 60px; }
        .stepsSlide__img img {
          display: inline-block !important;
          width: 120px !important; }
      .stepsSlide__number {
        right: auto;
        top: 60px;
        left: 25%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        font-size: 300px; } }
  @media (min-width: 1260px) {
    .stepsSlide__number {
      font-size: 400px;
      top: 20px; }
    .stepsSlide__slider {
      overflow: hidden; }
    .stepsSlide__text .text, .stepsSlide__text .tabContent__text {
      font-weight: 100; }
    .stepsSlide__text .subtitle {
      margin-bottom: 20px;
      font-size: 18px;
      letter-spacing: .05em; }
    .stepsSlide__img {
      padding-top: 0;
      text-align: right;
      padding-right: 90px; }
      .stepsSlide__img img {
        width: 200px !important; } }

.partners {
  position: relative;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  overflow: hidden;
  z-index: 20; }
  .partners .container {
    position: relative; }
  .partners .text, .partners .tabContent__text {
    opacity: .6; }
  .partners__circle {
    position: absolute;
    background-color: #fff;
    width: 300%;
    -webkit-border-radius: 9999px;
    border-radius: 9999px;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 50%;
    bottom: 0;
    overflow: hidden; }
    .partners__circle::after {
      content: '';
      display: block;
      padding-top: 100%; }
  .partners__slider {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px; }
  .partners__item {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px; }
    .partners__item::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .partners__item img {
      display: inline-block !important;
      vertical-align: middle;
      -webkit-filter: contrast(20%) grayscale(100%);
              filter: contrast(20%) grayscale(100%);
      opacity: .6;
      max-width: 100%;
      -webkit-transition: .3s;
      transition: .3s; }
    .partners__item:hover img {
      opacity: 1;
      -webkit-filter: none;
              filter: none; }
  .partners__owl .owl-item {
    overflow: visible; }
    .partners__owl .owl-item img {
      max-width: 100%;
      max-height: 100%;
      width: auto; }
  .partners__owl:not(.owl-carousel) .partners__item {
    float: left;
    width: 33.33%; }
    .partners__owl:not(.owl-carousel) .partners__item:nth-child(3) ~ .partners__item {
      display: none; }
  .partners__owl .owl-dots {
    text-align: center; }
  .partners__owl .owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 99px;
    border-radius: 99px;
    background-color: #d8d8d8;
    margin: 0 6px; }
    .partners__owl .owl-dot.active {
      background-color: #6823c1; }
  @media (min-width: 768px) {
    .partners__owl .owl-stage-outer {
      overflow: hidden; }
    .partners .text, .partners .tabContent__text {
      max-width: 380px;
      font-size: 16px;
      opacity: .4;
      margin-left: auto;
      margin-right: auto; }
    .partners__circle {
      -webkit-border-radius: 9999px;
      border-radius: 9999px;
      width: 300vw;
      height: 300vw;
      bottom: 0; } }
  @media (min-width: 1260px) {
    .partners {
      padding-top: 100px;
      padding-bottom: 100px; } }

.faq {
  background-color: #6823c1;
  padding-top: 100px;
  margin-top: -60px;
  overflow: hidden;
  position: relative; }
  .faq .title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px; }
  .faq::before {
    content: '';
    width: 700px;
    height: 700px;
    position: absolute;
    background-image: -webkit-radial-gradient(#4a98d0, transparent 60%);
    background-image: radial-gradient(#4a98d0, transparent 60%);
    -webkit-transform: translate3d(-50%, -60%, 0);
            transform: translate3d(-50%, -60%, 0);
    left: 50%; }
  .faq .container {
    position: relative; }
  .faq__accordion {
    position: relative;
    margin-left: -15px;
    margin-right: -15px; }
  @media (min-width: 768px) {
    .faq {
      margin-top: -100px;
      padding-top: 160px;
      padding-bottom: 140px; }
      .faq .title {
        margin-bottom: 50px; }
      .faq__accordion {
        margin: 0; } }
  @media (min-width: 1260px) {
    .faq {
      margin-top: -230px;
      padding-top: 330px; }
      .faq .container {
        position: relative;
        z-index: 10; }
      .faq__accordion {
        width: 860px;
        margin: 0 auto; }
      .faq::before {
        width: 1000px;
        height: 1000px; }
      .faq::after {
        content: '';
        width: 1000px;
        height: 1000px;
        position: absolute;
        background-image: -webkit-radial-gradient(#4a98d0, transparent 60%);
        background-image: radial-gradient(#4a98d0, transparent 60%);
        -webkit-transform: translate3d(-50%, -60%, 0);
                transform: translate3d(-50%, -60%, 0);
        left: 50%;
        top: 110%; }
      .faq__circles {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
        .faq__circles div {
          -webkit-transform: translateY(-50%) translateX(-50%);
              -ms-transform: translateY(-50%) translateX(-50%);
                  transform: translateY(-50%) translateX(-50%);
          position: absolute;
          width: 50vw; }
          .faq__circles div::after {
            content: '';
            display: block;
            padding-top: 100%; }
          .faq__circles div span {
            background-image: -webkit-radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
            background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6));
            -webkit-border-radius: 9999px;
            border-radius: 9999px;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
          .faq__circles div:first-child {
            -webkit-transform: translate3d(-40%, 40%, 0);
                    transform: translate3d(-40%, 40%, 0);
            left: 0;
            bottom: 0; }
          .faq__circles div:nth-child(2) {
            left: 50%;
            bottom: 0;
            width: 55vw;
            -webkit-transform: translate3d(10%, 30%, 0);
                    transform: translate3d(10%, 30%, 0); }
            .faq__circles div:nth-child(2) span {
              background-image: none;
              background-color: rgba(0, 0, 0, 0.1); }
          .faq__circles div:nth-child(3) {
            left: 60%;
            bottom: 0;
            width: 40vw;
            height: 40vw;
            -webkit-transform: translate3d(20%, 30%, 0) scale(0.7);
                    transform: translate3d(20%, 30%, 0) scale(0.7); }
            .faq__circles div:nth-child(3) span {
              background-image: none;
              background-color: rgba(0, 0, 0, 0.05); }
          .faq__circles div:nth-child(4) {
            -webkit-transform: none;
                -ms-transform: none;
                    transform: none;
            width: 40vw;
            height: 40vw;
            right: -5vw;
            top: 25vw; }
      .faq__bot {
        width: 400px;
        position: absolute;
        background-image: url(../../img/bot_02.png);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform-origin: left bottom;
            -ms-transform-origin: left bottom;
                transform-origin: left bottom;
        left: 100%;
        top: 100px;
        -webkit-transition: .6s;
        transition: .6s;
        -webkit-transform: translateX(-47%) rotate(-30deg);
            -ms-transform: translateX(-47%) rotate(-30deg);
                transform: translateX(-47%) rotate(-30deg); }
        .faq__bot::after {
          content: '';
          display: block;
          padding-top: 114%; }
      .faq .accordion {
        position: relative; }
      .faq:hover .faq__bot {
        -webkit-transform: translateX(-30%);
            -ms-transform: translateX(-30%);
                transform: translateX(-30%); } }

.accordion__item {
  background-color: #ffffff;
  padding: 0 15px; }
  .accordion__item:not(:last-child) {
    border-bottom: 2px solid #f2f2f2; }
  .accordion__item:first-child {
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px; }
  .accordion__item.active .accordion__toggle {
    background-color: #e5e5e5; }
    .accordion__item.active .accordion__toggle::after {
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0); }

.accordion__head {
  padding: 16px 40px 20px 0;
  font-weight: 500;
  line-height: 1.8em;
  position: relative;
  cursor: pointer; }
  .accordion__head span {
    display: inline-block;
    vertical-align: middle; }

.accordion__toggle {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  background-color: #00D5E5;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .accordion__toggle::before, .accordion__toggle::after {
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #ffffff;
    left: 8px;
    top: 13px; }
  .accordion__toggle::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.accordion__content {
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .accordion {
    font-size: 14px; }
    .accordion__head {
      padding: 22px 40px 25px 0; }
    .accordion__item:last-child {
      -webkit-border-bottom-right-radius: 5px;
              border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
              border-bottom-left-radius: 5px; } }

@media (min-width: 1260px) {
  .accordion {
    font-size: 16px; }
    .accordion__item {
      padding: 0 40px; }
      .accordion__item:first-child {
        -webkit-border-top-right-radius: 10px;
                border-top-right-radius: 10px;
        -webkit-border-top-left-radius: 10px;
                border-top-left-radius: 10px; }
      .accordion__item:last-child {
        -webkit-border-bottom-right-radius: 10px;
                border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
                border-bottom-left-radius: 10px; } }

.questionsForm {
  background-color: #00D5E5;
  padding-top: 35px;
  padding-bottom: 45px;
  overflow: hidden; }
  .questionsForm .title {
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 20px; }
  @media (min-width: 768px) {
    .questionsForm .container {
      padding-left: 65px;
      padding-right: 65px; }
    .questionsForm::after {
      content: '';
      clear: both;
      display: block; }
    .questionsForm .title {
      width: 200px;
      float: left;
      margin-bottom: 0;
      letter-spacing: .05em;
      line-height: 1.1em; }
    .questionsForm .form {
      margin-top: 10px;
      width: -webkit-calc(100% - 200px);
      width: calc(100% - 200px);
      float: left; } }
  @media (min-width: 1260px) {
    .questionsForm {
      padding: 115px 0; }
      .questionsForm .title {
        font-size: 35px;
        width: 400px;
        padding-top: 20px; }
      .questionsForm .form {
        width: -webkit-calc(100% - 400px);
        width: calc(100% - 400px); } }

.form {
  width: 100%;
  position: relative; }
  .form__input {
    width: 100%;
    height: 60px;
    vertical-align: middle;
    padding-right: 50px;
    -webkit-transition: .3s;
    transition: .3s; }
    .form__input::-webkit-input-placeholder {
      font-size: 10px; }
    .form__input::-moz-placeholder {
      font-size: 10px; }
    .form__input:-ms-input-placeholder {
      font-size: 10px; }
    .form__input::placeholder {
      font-size: 10px; }
  .form__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    background-color: transparent;
    cursor: pointer; }
    .form__btn svg {
      width: 20px; }
      .form__btn svg path {
        -webkit-transition: .3s;
        transition: .3s; }
    .form__btn:hover svg path {
      fill: #00a6b2; }
  .form__success {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .5s;
    transition: .5s;
    pointer-events: none; }
    .form__success span {
      display: inline-block;
      vertical-align: middle;
      max-width: 40%; }
    .form__success::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
  .form.loading {
    pointer-events: none; }
    .form.loading .form__btn {
      background-image: url(../../svg/loader_blue.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      -webkit-animation: rotate 2s infinite linear;
              animation: rotate 2s infinite linear; }
      .form.loading .form__btn svg {
        display: none; }
    .form.loading .form__input {
      color: #aaa; }
  .form.success .form__btn {
    opacity: 0; }
  .form.success .form__input {
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%); }
  .form.success .form__success {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  @media (min-width: 768px) {
    .form__input::-webkit-input-placeholder {
      font-size: inherit; }
    .form__input::-moz-placeholder {
      font-size: inherit; }
    .form__input:-ms-input-placeholder {
      font-size: inherit; }
    .form__input::placeholder {
      font-size: inherit; } }

.footer {
  padding-top: 10px;
  background-color: #efefef;
  border-bottom: 10px solid #efefef; }
  .footer__logo {
    width: 140px;
    padding: 15px 0; }
  .footer__soc {
    padding: 15px 0; }
  .footer__menu {
    padding: 15px 0; }
  .footer__socIcon {
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    border: none !important;
    -webkit-transition: .2s;
    transition: .2s;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-left: 2px; }
    .footer__socIcon::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .footer__socIcon svg {
      width: 20px;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
    .footer__socIcon::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      -webkit-border-radius: 999px;
      border-radius: 999px;
      top: 50%;
      left: 50%;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
              transform: translate3d(-50%, -50%, 0) scale(0); }
    .footer__socIcon:hover::before {
      -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
              transform: translate3d(-50%, -50%, 0) scale(1); }
  .footer__text {
    color: #cccccc;
    margin-bottom: 20px;
    font-size: 10px; }
    .footer__text a {
      color: #b3b3b3;
      border-color: #b3b3b3;
      font-weight: normal;
      text-transform: none; }
  @media (max-width: 1260px) {
    .footer__soc {
      clear: both; } }
  @media (min-width: 768px) {
    .footer__row::after {
      content: '';
      display: block;
      clear: both; }
    .footer__logo {
      width: 30%;
      float: left;
      padding-bottom: 0; }
      .footer__logo svg {
        width: 140px; }
    .footer__menu {
      width: 70%;
      float: left;
      padding-top: 20px; }
    .footer__text {
      float: left;
      width: 30%;
      font-size: 14px;
      line-height: 25px; }
      .footer__text:nth-child(2) {
        width: 40%; }
      .footer__text:nth-child(3) {
        text-align: right; } }
  @media (min-width: 1260px) {
    .footer {
      padding-top: 40px;
      padding-bottom: 0; }
      .footer__row {
        margin-bottom: 40px; }
      .footer__soc {
        float: right;
        width: 30%;
        text-align: right;
        padding: 10px 0; }
      .footer__logo {
        width: 30%;
        float: left; }
      .footer__menu {
        width: 40%;
        float: left;
        padding: 20px 0; } }

.footerMenu {
  white-space: initial;
  text-align: justify;
  -ms-text-align-last: justify;
  -moz-text-align-last: justify;
       text-align-last: justify; }
  .footerMenu::after {
    content: '';
    display: inline-block;
    width: 100%; }
  .footerMenu__item {
    display: inline-block;
    color: #333333;
    border-bottom: 1px solid transparent; }
    .footerMenu__item:hover {
      color: #5022b3; }

.crmImg {
  position: relative; }
  .crmImg__screen {
    width: 700px;
    top: 0;
    left: 80px;
    position: absolute; }
    .crmImg__screen svg {
      width: 100%; }
  .crmImg__arrow {
    position: absolute;
    left: 0;
    top: 90px;
    width: 115px; }
    .crmImg__arrow svg {
      width: 100%; }
  .crmImg__phone {
    position: absolute;
    top: 150px;
    left: 75px;
    width: 210px; }
    .crmImg__phone .smartPhone {
      -webkit-border-radius: 28px;
              border-radius: 28px;
      background-size: 106% 102%;
      -webkit-box-shadow: 20px 10px 60px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 20px 10px 60px 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 1260px) {
    .crmImg__screen {
      width: 400px; }
    .crmImg__phone {
      top: 80px;
      width: 160px;
      left: 80px; }
    .crmImg__arrow {
      top: 50px;
      left: 30px;
      width: 70px; } }

.oneExample__img {
  text-align: center;
  margin-bottom: 10px; }
  .oneExample__img img {
    width: 60%;
    max-width: 300px;
    display: inline-block; }

@media (min-width: 768px) {
  .oneExample .subtitle {
    font-size: 18px; }
  .oneExample::after {
    content: '';
    display: block;
    clear: both; }
  .oneExample__img, .oneExample__info {
    float: left;
    width: 50%; }
  .oneExample__img {
    text-align: center;
    margin-top: -70px; }
    .oneExample__img img {
      max-width: unset;
      display: inline-block;
      width: 220px; } }

@media (min-width: 1260px) {
  .oneExample__img {
    margin-top: -120px; }
    .oneExample__img img {
      width: 350px; }
  .oneExample__info {
    padding-right: 120px; } }

.headerMenu::after {
  content: '';
  display: inline-block;
  width: 100%; }

.headerMenu__item a {
  color: #ffffff; }
  .headerMenu__item a:hover {
    color: #46C2C2;
    border-bottom-color: #46C2C2; }

@media (max-width: 768px) {
  .headerMenu__item {
    display: block; } }

@media (min-width: 768px) {
  .headerMenu {
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify; }
    .headerMenu__item {
      display: inline-block; } }

.btnForm {
  position: relative;
  height: 40px;
  width: 160px;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .btnForm__btn {
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    -webkit-transition: .5s;
    transition: .5s;
    line-height: 12px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 100 !important; }
    .btnForm__btn::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .btnForm__btn::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../../svg/arrow-right_white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      right: 10px;
      top: 10px;
      opacity: 0; }
  .btnForm__input {
    z-index: 10;
    background-color: #f5f5f5;
    position: absolute;
    border: 1px solid #5022b3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; }
  .btnForm.active {
    width: 260px; }
  .btnForm.active:not(.success) .btnForm__btn {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    width: 40px;
    font-size: 0;
    padding-left: 0;
    padding-right: 0; }
    .btnForm.active:not(.success) .btnForm__btn::after {
      opacity: 1;
      -webkit-transition: .5s;
      transition: .5s; }
  .btnForm.loading .btnForm__input {
    color: #aaa;
    pointer-events: none; }
  .btnForm.loading .btnForm__btn {
    opacity: .8;
    pointer-events: none; }
    .btnForm.loading .btnForm__btn::after {
      -webkit-animation: rotate 2s infinite linear;
              animation: rotate 2s infinite linear;
      background-image: url(../../svg/loader.svg); }
  .btnForm.success .btnForm__btn {
    background-color: #00D5E5;
    font-size: 0; }
    .btnForm.success .btnForm__btn::after {
      content: attr(data-success);
      -webkit-transition: .5s;
      transition: .5s;
      font-size: 12px;
      opacity: 1;
      background: none;
      vertical-align: middle;
      position: static; }
  .btnForm_yellow {
    width: 200px; }
    .btnForm_yellow.active {
      width: 260px; }
    .btnForm_yellow .btnForm__btn {
      background-color: #f8d548;
      color: #3b1577; }
      .btnForm_yellow .btnForm__btn:hover {
        background-color: #f6ca17; }
      .btnForm_yellow .btnForm__btn::after {
        opacity: 1;
        background-image: url(../../svg/arrow-right_violet.svg);
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6); }
    .btnForm_yellow.active:not(.success) .btnForm__btn::after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .btnForm_yellow.loading .btnForm__btn::after {
      background-image: url(../../svg/loader_violet.svg); }
  @media (min-width: 1260px) {
    .btnForm {
      height: 55px;
      width: 180px; }
      .btnForm_yellow {
        width: 220px; }
        .btnForm_yellow .btnForm__btn {
          padding-left: 30px; }
      .btnForm__btn {
        line-height: 12px; }
      .btnForm.active {
        width: 335px; }
      .btnForm.active:not(.success) .btnForm__btn {
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6);
        width: 55px; }
      .btnForm__btn::after {
        width: 30px;
        height: 30px;
        right: 12px;
        top: 13px; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.smartPhoneDialog {
  position: relative;
  padding: 10px 5px 0; }
  .smartPhoneDialog__message {
    font-size: 11px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 9px;
    margin-bottom: 5px; }
    .smartPhoneDialog__message img {
      max-width: 100%; }
    .smartPhoneDialog__message.white {
      background-color: #ffffff;
      margin-right: 30%; }
    .smartPhoneDialog__message.blue {
      background-color: #00D5E5;
      margin-left: 30%; }
    .smartPhoneDialog__message.sticker img {
      width: 100px; }
  .smartPhoneDialog__slide {
    font-size: 10px; }
    .smartPhoneDialog__slide b {
      font-weight: 500; }
    .smartPhoneDialog__slide em {
      font-style: normal;
      color: red; }
    .smartPhoneDialog__slide small {
      display: block;
      margin-top: 5px; }
  .smartPhoneDialog__buttons {
    margin-bottom: 5px; }
    .smartPhoneDialog__buttons span {
      display: inline-block;
      padding: 0 4px;
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 2px;
      border-radius: 2px;
      margin-right: 3px; }

.interview {
  position: relative; }
  .interview .btn {
    width: 80px;
    float: left; }
  .interview .progress {
    float: left;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    padding-left: 5px;
    padding-top: 8px; }
  .interview__item {
    width: 220px; }
    .interview__item:first-child {
      margin-bottom: 5px; }
    .interview__item::after {
      content: '';
      display: block;
      clear: both; }
  .interview__shapes {
    -webkit-transition: .5s;
    transition: .5s; }
    .interview__shapes > span {
      position: relative;
      display: block;
      -webkit-transition: .5s;
      transition: .5s; }
      .interview__shapes > span:not(:first-child) {
        height: 25px;
        width: 80px; }
        .interview__shapes > span:not(:first-child) .circle {
          -webkit-transition: .5s;
          transition: .5s;
          position: absolute;
          background-color: #6823c1;
          display: block;
          width: 80px;
          font-size: 10px;
          height: 25px;
          -webkit-border-radius: 999px;
          border-radius: 999px; }
        .interview__shapes > span:not(:first-child) .txt {
          white-space: nowrap;
          margin: 0;
          display: inline-block;
          position: absolute;
          padding-top: 4px;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          font-size: 10px;
          -webkit-transition: .5s;
          transition: .5s;
          -webkit-transition-delay: .5s;
                  transition-delay: .5s;
          text-align: center; }
          .interview__shapes > span:not(:first-child) .txt::before {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 5px;
            height: 5px;
            background-color: #ffffff;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            opacity: 0;
            -webkit-transition: .5s;
            transition: .5s; }
          .interview__shapes > span:not(:first-child) .txt::after {
            content: '';
            position: absolute;
            left: 2px;
            top: 11px;
            height: 1px;
            background-color: #ffffff;
            right: 50px;
            opacity: 0;
            -webkit-transition: .5s;
            transition: .5s; }
      .interview__shapes > span:first-child {
        background-color: #6823c1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        width: 80px;
        height: 80px;
        -webkit-border-radius: 999px;
        border-radius: 999px; }
      .interview__shapes > span:nth-child(3) {
        -webkit-transform: translateY(5px);
            -ms-transform: translateY(5px);
                transform: translateY(5px); }
        .interview__shapes > span:nth-child(3) .circle {
          background-color: #f8d548; }
    .interview__shapes.circle {
      margin-right: 80px; }
      .interview__shapes.circle > span:nth-child(1) {
        opacity: 1;
        -webkit-transition: 0s;
        transition: 0s;
        -webkit-transition-delay: .5s;
                transition-delay: .5s; }
      .interview__shapes.circle > span:nth-child(3) {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        z-index: 10; }
      .interview__shapes.circle > span:nth-child(2), .interview__shapes.circle > span:nth-child(3) {
        height: 40px; }
        .interview__shapes.circle > span:nth-child(2) .circle, .interview__shapes.circle > span:nth-child(3) .circle {
          height: 40px; }
        .interview__shapes.circle > span:nth-child(2) .txt, .interview__shapes.circle > span:nth-child(3) .txt {
          left: 0;
          -webkit-transform: translateX(60px);
              -ms-transform: translateX(60px);
                  transform: translateX(60px);
          padding-left: 50px; }
          .interview__shapes.circle > span:nth-child(2) .txt::after, .interview__shapes.circle > span:nth-child(2) .txt::before, .interview__shapes.circle > span:nth-child(3) .txt::after, .interview__shapes.circle > span:nth-child(3) .txt::before {
            opacity: 1; }
      .interview__shapes.circle > span:nth-child(2) {
        z-index: 20; }
        .interview__shapes.circle > span:nth-child(2) .txt {
          -webkit-transform: translateX(60px) translateY(18px);
              -ms-transform: translateX(60px) translateY(18px);
                  transform: translateX(60px) translateY(18px); }
          .interview__shapes.circle > span:nth-child(2) .txt::after {
            right: 40px; }
      .interview__shapes.circle > span:nth-child(2) .circle {
        -webkit-transform-origin: center bottom;
            -ms-transform-origin: center bottom;
                transform-origin: center bottom;
        -webkit-border-bottom-right-radius: 0;
                border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
                border-bottom-left-radius: 0;
        -webkit-border-top-right-radius: 40px;
                border-top-right-radius: 40px;
        -webkit-border-top-left-radius: 40px;
                border-top-left-radius: 40px; }
      .interview__shapes.circle > span:nth-child(3) .circle {
        -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
                transform-origin: center top;
        -webkit-border-bottom-right-radius: 40px;
                border-bottom-right-radius: 40px;
        -webkit-border-bottom-left-radius: 40px;
                border-bottom-left-radius: 40px;
        -webkit-border-top-right-radius: 0;
                border-top-right-radius: 0;
        -webkit-border-top-left-radius: 0;
                border-top-left-radius: 0; }
    .interview__shapes.complete > span:nth-child(2) .circle {
      -webkit-transition: .8s;
      transition: .8s;
      -webkit-transition-timing-function: ease-in-out;
              transition-timing-function: ease-in-out;
      -webkit-transform: rotate(-120deg);
          -ms-transform: rotate(-120deg);
              transform: rotate(-120deg); }

.progress {
  position: relative; }
  .progress__bar {
    display: block;
    height: 4px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #ffffff; }
  .progress__number {
    position: absolute;
    left: 5px;
    right: 0;
    bottom: 6px;
    text-align: center;
    font-size: 10px; }

.stickerSlider {
  position: relative;
  width: 120px; }
  .stickerSlider__outer {
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-perspective: 200px;
            perspective: 200px;
    height: 200px; }
    .stickerSlider__outer::after {
      content: '';
      display: block;
      clear: both; }
  .stickerSlider__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s; }
    .stickerSlider__item img {
      display: inline-block;
      vertical-align: middle; }
    .stickerSlider__item::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .stickerSlider__item:nth-child(2) {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg); }
    .stickerSlider__item:nth-child(3) {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg); }
  .stickerSlider.active .stickerSlider__item:first-child {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .stickerSlider.active .stickerSlider__item:nth-child(2) {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  .stickerSlider.complete .stickerSlider__item:nth-child(2) {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg); }
  .stickerSlider.complete .stickerSlider__item:nth-child(3) {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
