.btn
  line-height: 1em
  text-transform: uppercase
  -webkit-border-radius: 999px
  -moz-border-radius: 999px
  border-radius: 999px
  letter-spacing: .1em
  font-size: 10px
  background-color: $base_lite
  color: #ffffff
  cursor: pointer
  white-space: nowrap
  padding: 13px 30px 12px
  display: inline-block
  text-align: center
  border: none !important
  transition: .3s
  &:hover
    background-color: lighten($base_lite, 10%)
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3)
  &_message
    background-color: $blue
    border-bottom-right-radius: 0
    &:hover
      background-color: lighten($blue, 10%)
  .icon
    position: relative
    top: -1px
    margin-left: 15px
  @media (min-width: $lg)
    padding: 21px 35px
    font-size: 12px

button.btn
  font-weight: 600 !important
  letter-spacing: .05em!important