.icon
  display: inline-block
  width: 15px
  height: 15px
  background-position: center
  background-repeat: no-repeat
  vertical-align: middle
  &_arrow
    background-image: url(../../svg/arrow-right_violet.svg)
  &_plain
    background-image: url(../../svg/plain.svg)