.input
  background-color: #fff
  -webkit-border-radius: 999px
  -moz-border-radius: 999px
  border-radius: 999px
  outline: none
  border: none
  padding: 0 20px
  font-size: 12px
  letter-spacing: .05em
  height: 40px
  &::placeholder
    color: #aaa
  @media (min-width: $lg)
    font-size: 14px
    height: 55px