.quotes
  text-align: center
  background-image: url("../../svg/quotes.svg")
  background-repeat: no-repeat
  background-position: center 20px
  padding: 60px 0
  font-size: 14px
  line-height: 1.8em
  background-size: 25px
  @media (min-width: $sm)
    background-size: 38px
    padding: 80px 0
    margin: 0 auto
    max-width: 500px
    font-size: 18px
  @media (min-width: $lg)
    font-size: 22px
    max-width: 570px