.accordion
  &__item
    background-color: #ffffff
    padding: 0 15px
    &:not(:last-child)
      border-bottom: 2px solid #f2f2f2
    &:first-child
      border-top-right-radius: 5px
      border-top-left-radius: 5px
    &.active
      .accordion
        &__toggle
          background-color: #e5e5e5
          &::after
            transform: rotate(0)
  &__head
    padding: 16px 40px 20px 0
    font-weight: 500
    line-height: 1.8em
    position: relative
    cursor: pointer
    span
      display: inline-block
      vertical-align: middle
  &__toggle
    width: 28px
    height: 28px
    -webkit-border-radius: 999px
    -moz-border-radius: 999px
    border-radius: 999px
    background-color: $light_blue
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    transition: .3s
    &::before, &::after
      transition: .3s
      content: ''
      position: absolute
      width: 12px
      height: 2px
      background-color: #ffffff
      left: 8px
      top: 13px
    &::after
      transform: rotate(90deg)
  &__content
    padding-bottom: 30px
  @media (min-width: $sm)
    font-size: 14px
    &__head
      padding: 22px 40px 25px 0
    &__item
      &:last-child
        border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
  @media (min-width: $lg)
    font-size: 16px
    &__item
      padding: 0 40px
      &:first-child
        border-top-right-radius: 10px
        border-top-left-radius: 10px
      &:last-child
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 10px