.botMessages
  position: relative
  &__msg
    padding-bottom: 7px
    transition: .5s
    text-align: right
  &__msgOuter
    transition: .5s
    overflow: visible !important
    &.waiting
      transform: translateX(80%) translateY(30px) scale(.8)
      opacity: 0
    &.removed
      transition: 0s
      .botMessages__msg
        transform: translateY(-150%) scale(1.2)
        opacity: 0
  @media (min-width: $lg)
    &__msg
      padding-bottom: 15px