.botMessage
  background-color: rgba($light_blue, .5)
  padding: 8px 10px
  border-radius: 15px
  border-bottom-right-radius: 0
  position: relative
  font-size: 10px
  color: #fff
  display: inline-block
  text-align: left
  &::before
    content: ''
    position: absolute
    left: 100%
    bottom: 0
    border: 4px solid rgba($light_blue, .5)
    border-top-color: transparent
    border-right-color: transparent
  &::after
    content: ''
    display: block
    clear: both
  img
    width: 120px
    &.product
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      &:first-child
        margin-right: 10px
  .btn
    font-size: 10px
    padding: 5px 15px
    text-transform: none
  .iphone
    width: 100px
    border-radius: 17px
    position: relative
    overflow: hidden
    background-color: #6723c1
    &::before
      content: ''
      width: 500px
      height: 500px
      position: absolute
      background-image: radial-gradient(#4a98d0, transparent 50%)
      transform: translateX(-50%) translateY(-50%)
      top: -20px
      left: -40px
    &__circle
      span
        position: absolute
        width: 200px
        -webkit-border-radius: 999px
        -moz-border-radius: 999px
        border-radius: 999px
        &::after
          content: ''
          display: block
          padding-top: 100%
        &:first-child
          width: 300px
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6))
          bottom: 0
          right: 50%
          transform: translateY(30%)
        &:nth-child(2)
          background-color: rgba(0, 0, 0, 0.1)
          top: -90px
          left: 30%
        &:nth-child(3)
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.3))
          top: 100%
          left: 10px
          transform: translateY(-30%)
    &__img
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-image: url(../../img/iphone.png)
      background-position: center
      background-repeat: no-repeat
      -webkit-background-size: contain
      background-size: contain
    &__coin, &__check
      width: 40px
      height: 40px
      position: absolute
      left: 50%
      top: 50%
      transform: translateY(-50%) translateX(-50%)
      background-repeat: no-repeat
      -webkit-background-size: contain
      background-size: contain
      background-position: center
      transition: .5s
    &__coin
      background-image: url(../../svg/rub.svg)
    &__check
      background-image: url(../../svg/check.svg)
      transform: translateY(-50%) translateX(-50%) scale(.2)
      opacity: 0
    &.active
      .iphone__coin
        transform: translateY(-150px) translateX(-50%)
      .iphone__check
        transform: translateY(-50%) translateX(-50%) scale(1)
        opacity: 1
    &::after
      content: ''
      display: block
      padding-top: 200%
  .stars
    svg
      display: inline-block
      width: 15px
      &:not(:last-child)
        margin-right: 7px
      path
        fill: #fff
      &:nth-child(2) path
        transition-delay: .4s
      &:nth-child(3) path
        transition-delay: .8s
      &:nth-child(4) path
        transition-delay: 1.2s
      &:nth-child(5) path
        transition-delay: 1.6s
    &.active
      svg
        animation: pulse .5s 1
        &:nth-child(2)
          animation-delay: .4s
        &:nth-child(3)
          animation-delay: .8s
        &:nth-child(4)
          animation-delay: 1.2s
        &:nth-child(5)
          animation-delay: 1.6s
        path
          fill: #f8d548
  @media (min-width: $lg)
    padding: 15px
    font-size: 14px

@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)