.btnForm
  position: relative
  height: 40px
  width: 160px
  transition: .5s
  display: inline-block
  &__btn
    z-index: 20
    top: 0
    right: 0
    bottom: 0
    width: 100%
    position: absolute
    transition: .5s
    line-height: 12px
    padding-top: 0
    padding-bottom: 0
    font-weight: 100!important
    &::before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    &::after
      content: ''
      position: absolute
      width: 20px
      height: 20px
      background-image: url(../../svg/arrow-right_white.svg)
      background-repeat: no-repeat
      background-position: center
      -webkit-background-size: 24px
      background-size: contain
      right: 10px
      top: 10px
      opacity: 0
  &__input
    z-index: 10
    background-color: #f5f5f5
    position: absolute
    border: 1px solid $base
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
  &.active
    width: 260px
  &.active:not(.success)
    .btnForm
      &__btn
        transform: scale(.6)
        width: 40px
        font-size: 0
        padding-left: 0
        padding-right: 0
        &::after
          opacity: 1
          transition: .5s
  &.loading
    .btnForm
      &__input
        color: #aaa
        pointer-events: none
      &__btn
        opacity: .8
        pointer-events: none
        &::after
          animation: rotate 2s infinite linear
          background-image: url(../../svg/loader.svg)
  &.success
    .btnForm
      &__btn
        background-color: $light_blue
        font-size: 0
        &::after
          content: attr(data-success)
          transition: .5s
          font-size: 12px
          opacity: 1
          background: none
          vertical-align: middle
          position: static
  &_yellow
    width: 200px
    &.active
      width: 260px
    .btnForm
      &__btn
        background-color: $yellow
        color: $dark_base
        &:hover
          background-color: darken($yellow, 10%)
        &::after
          opacity: 1
          background-image: url(../../svg/arrow-right_violet.svg)
          transform: scale(.6)
    &.active:not(.success)
      .btnForm
        &__btn
          &::after
            transform: scale(1)
    &.loading .btnForm__btn::after
      background-image: url(../../svg/loader_violet.svg)
  @media (min-width: $lg)
    height: 55px
    width: 180px
    &_yellow
      width: 220px
      .btnForm__btn
        padding-left: 30px
    &__btn
      line-height: 12px
    &.active
      width: 335px
    &.active:not(.success)
      .btnForm
        &__btn
          transform: scale(.6)
          width: 55px
    &__btn
      &::after
        width: 30px
        height: 30px
        right: 12px
        top: 13px

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)