.callbackForm
  position: relative
  height: 40px
  width: 200px
  transition: .5s
  &__btn
    top: 0
    right: 0
    bottom: 0
    width: 100%
    position: absolute
    background-color: $yellow
    color: $dark_base
    transition: .5s
    line-height: 12px
    padding-top: 0
    padding-bottom: 0
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    .icon
      margin: 0
      transform: translateX(10px)
      transition: .5s
  &__input
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
  &:hover
    width: 100%
    .callbackForm
      &__btn
        transform: scale(.6)
        width: 40px
        font-size: 0
        padding-left: 0
        padding-right: 0
        .icon
          transform: scale(1.4)
  @media (min-width: $lg)
    height: 55px
    width: 220px
    &__btn
      line-height: 12px
    &:hover
      width: 335px
      .callbackForm
        &__btn
          transform: scale(.6)
          width: 55px
