.crm
  padding-bottom: 50px
  @media (max-width: $sm)
    &__img
      display: none
  @media (min-width: $sm)
    &__row
      position: relative
    &__info
      width: 50%
    &__img
      position: absolute
      right: 0
      top: -20px
      bottom: 0
      left: 50%
  @media (min-width: $lg)
    padding-bottom: 150px
    &__img
      top: -50px
    &__info
      padding-right: 100px
    .quotes
      margin-bottom: 100px