.crmImg
  position: relative
  &__screen
    width: 700px
    top: 0
    left: 80px
    position: absolute
    svg
      width: 100%
  &__arrow
    position: absolute
    left: 0
    top: 90px
    width: 115px
    svg
      width: 100%
  &__phone
    position: absolute
    top: 150px
    left: 75px
    width: 210px
    .smartPhone
      border-radius: 28px
      background-size: 106% 102%
      box-shadow: 20px 10px 60px 0 rgba(0,0,0,.2)
  @media (max-width: $lg)
    &__screen
      width: 400px
    &__phone
      top: 80px
      width: 160px
      left: 80px
    &__arrow
      top: 50px
      left: 30px
      width: 70px
