.examples
  padding-top: 30px
  padding-bottom: 80px
  @media (min-width: $sm)
    padding-top: 50px
    &__title
      padding-left: 50%
  @media (min-width: $lg)
    padding-top: 80px
    &__title
      padding-right: 120px