.faq
  background-color: $base_lite
  padding-top: 100px
  margin-top: -60px
  overflow: hidden
  position: relative
  .title
    text-align: center
    color: #ffffff
    margin-bottom: 30px
  &::before
    content: ''
    width: 700px
    height: 700px
    position: absolute
    background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 60%)
    transform: translate3d(-50%, -60%, 0)
    left: 50%
  .container
    position: relative
  &__accordion
    position: relative
    margin-left: -15px
    margin-right: -15px
  @media (min-width: $sm)
    margin-top: -100px
    padding-top: 160px
    padding-bottom: 140px
    .title
      margin-bottom: 50px
    &__accordion
      margin: 0
  @media (min-width: $lg)
    margin-top: -230px
    padding-top: 330px
    .container
      position: relative
      z-index: 10
    &__accordion
      width: 860px
      margin: 0 auto
    &::before
      width: 1000px
      height: 1000px
    &::after
      content: ''
      width: 1000px
      height: 1000px
      position: absolute
      background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 60%)
      transform: translate3d(-50%, -60%, 0)
      left: 50%
      top: 110%
    &__circles
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      div
        transform: translateY(-50%) translateX(-50%)
        position: absolute
        width: 50vw
        &::after
          content: ''
          display: block
          padding-top: 100%
        span
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6))
          -webkit-border-radius: 9999px
          -moz-border-radius: 9999px
          border-radius: 9999px
          display: block
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
        &:first-child
          transform: translate3d(-40%, 40%, 0)
          left: 0
          bottom: 0
        &:nth-child(2)
          left: 50%
          bottom: 0
          width: 55vw
          transform: translate3d(10%, 30%, 0)
          span
            background-image: none
            background-color: rgba(0, 0, 0, 0.1)
        &:nth-child(3)
          left: 60%
          bottom: 0
          width: 40vw
          height: 40vw
          transform: translate3d(20%, 30%, 0) scale(.7)
          span
            background-image: none
            background-color: rgba(0, 0, 0, 0.05)
        &:nth-child(4)
          transform: none
          width: 40vw
          height: 40vw
          right: -5vw
          top: 25vw
    &__bot
      width: 400px
      position: absolute
      background-image: url(../../img/bot_02.png)
      background-repeat: no-repeat
      -webkit-background-size: contain
      background-size: contain
      transform-origin: left bottom
      left: 100%
      top: 100px
      transition: .6s
      transform: translateX(-47%) rotate(-30deg)
      &::after
        content: ''
        display: block
        padding-top: 114%
    .accordion
      position: relative
    &:hover
      .faq__bot
        transform: translateX(-30%)

