.firstScreen
  position: relative
  background-color: $base_lite
  &__back, &__circles, &__lights
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: hidden
  &__circles, &__lights
    div
      position: absolute
      span
        -webkit-border-radius: 9999px
        -moz-border-radius: 9999px
        border-radius: 9999px
        display: block
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
      &::after
        content: ''
        display: block
        padding-top: 100%
  &__lights
    div
      width: 1000px
      transform: translate3d(-50%, -50%, 0)
  &__content
    position: relative
    color: #fff
  &__bottom
    position: relative
    pointer-events: none
    margin-bottom: -1px
    svg
      display: block
      width: 100%
  &__lights
    div
      &:first-child
        top: 90%
        left: 60%
        span
          background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 50%)
      &:nth-child(2)
        left: 100px
        top: 0
        span
          background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 50%)
  &__circles
    div
      &:first-child
        width: 200vw
        left: 45%
        top: 100px
        span
          background-color: rgba(0, 0, 0, .1)
      &:nth-child(2)
        width: 200vw
        top: 120px
        right: 30%
        span
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6))
      &:nth-child(3)
        left: 70%
        top: -80px
        width: 300vw
        transform: translateY(-50%)
        span
          overflow: hidden
          background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1))
  @media (max-width: $sm)
    margin-bottom: -10%
    &__bottom
      transform: scaleX(-1)
      svg
        left: auto
        width: 170%
        transform: scaleY(.6)
        transform-origin: center bottom
    &__circles
      div
        &:nth-child(4)
          display: none
  @media (min-width: $sm) and (max-width: $lg)
    &__info
      margin-bottom: -50px
  @media (min-width: $sm)
    margin-bottom: -16%
    &__right
      .firstScreenBot
        transition: 1.5s
        &:not(.active)
          transform: translate3d(700px, -200px, 0) rotate(-10deg) scale(.7)
    &__content
      position: relative
      color: #fff
      &::after
        content: ''
        display: block
        clear: both
    &__info, &__right
      width: 50%
      float: left
    &__circle
      &.circle_1
        width: 100vw
        height: 100vw
        left: 45%
      &.circle_2
        width: 100vw
        height: 100vw
        top: 120px
        right: 40%
      &.circle_3
        left: 60%
        width: 80vw
        height: 80vw
    &__circles
      div
        &:first-child
          width: 100vw
          left: 45%
          top: 100px
          span
            background-color: rgba(0, 0, 0, .1)
        &:nth-child(2)
          width: 100vw
          top: 120px
          right: 40%
          span
            background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6))
        &:nth-child(3)
          left: 60%
          top: -80px
          width: 80vw
          transform: translateY(-50%)
          span
            overflow: hidden
            background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1))
            &::after
              content: ''
              position: absolute
              left: 0
              top: 60%
              width: 100vw
              height: 100vw
              background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 50%)
        &:nth-child(4)
          width: 33vw
          top: 32vw
          left: 77%
          span
            background-color: rgba(0, 0, 0, .1)
  @media (max-width: $lg)
    &__bottom
      svg
        left: -40%
        right: -20%
        width: 160%
        transform: scaleY(1)
        transform-origin: center bottom
  @media (min-width: $lg)
    margin-bottom: -12%
    &__circles
      div
        &:first-child
          width: 70vw
          top: 80px
          left: 40%
          span
            background-color: rgba(0, 0, 0, .1)
        &:nth-child(2)
          width: 70vw
          top: 120px
          right: 50%
          span
            background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.6))
        &:nth-child(3)
          right: -10%
          width: 50vw
          transform: translateY(-50%)
          span
            overflow: hidden
            background-image: radial-gradient(transparent 20%, rgba(74, 152, 208, 0.1))
            &::after
              content: ''
              position: absolute
              left: 10%
              width: 100vw
              height: 100vw
              background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 50%)
        &:nth-child(4)
          width: 33vw
          top: 27vw
          left: 67%
          span
            background-color: rgba(0, 0, 0, .1)
    &__lights
      div
        width: 1000px
        transform: translate3d(-50%, -50%, 0)
        &:first-child
          left: 150px
          top: 0
          span
            background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 50%)
        &:nth-child(2)
          width: 80vw
          left: 50%
          top: 75%
          span
            background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 50%)
  @media (min-width: $x_lg)
    margin-bottom: -16%
    &__bottom
      svg
        transform: scaleY(0.71)
        transform-origin: center top
      &::after
        content: ''
        display: block
        position: absolute
        top: 70%
        left: 0
        right: 0
        bottom: 0
        background-color: #ffffff

