.firstScreenInfo
  padding-top: 35px
  &__icons
    width: 220px
    margin-bottom: 20px
    &::after
      content: ''
      display: block
      clear: both
  &__icon
    display: block
    border: none !important
    float: left
    width: 25%
    position: relative
    &:first-child
      svg
        top: 2px
    svg
      position: relative
      width: 20px
      .group
        transition: .3s
    &::before
      content: ''
      position: absolute
      top: -5px
      bottom: 0
      left: -5px
      width: 30px
      height: 30px
      transform: scale(0)
      background-color: rgba(255,255,255,.8)
      -webkit-border-radius: 999px
      -moz-border-radius: 999px
      border-radius: 999px
      transition: .3s
      opacity: 0
      transition-timing-function: cubic-bezier(0.16, 0.43, 0.38, 1.59)
    &:hover
      &::before
        transform: scale(1.2)
        opacity: 1
      .group
        fill: $base_lite!important
  &__title
    font-weight: 600
    font-size: 25px
    max-width: 400px
    margin-bottom: 25px
    line-height: 1.6em
  &__desc
    font-size: 14px
    font-weight: 100
    letter-spacing: .07em
    line-height: 1.8em
    margin-bottom: 25px
    max-width: 300px
  @media (min-width: $sm)
    padding-top: 40px
  @media(min-width: $lg)
    &__icons
      width: 250px
      margin-bottom: 40px
      svg
        width: 30px
    &__icon
      &::before
        width: 40px
        height: 40px
    &__title
      font-size: 35px
      max-width: 400px
      margin-bottom: 25px
    &__desc
      font-size: 16px
      margin-bottom: 25px
      max-width: 380px
