.firstScreenBot
  position: relative
  padding-top: 20px
  &__dialog
    width: 60%
    position: absolute
    left: 0
    top: 0
    bottom: 0
    padding-right: 25px
  &__bot
    position: absolute
    right: 0
    top: 0
    bottom: 0
    left: 60%
    background-image: url(../../img/bot_01.png)
    background-position: left center
    background-size: contain
    background-repeat: no-repeat
    animation: flying 20s infinite
  &__chat
    transition: .3s
    transition-delay: 3s
  @media (max-width: $sm)
    &__dialog, &__bot
      display: none
  @media (min-width: $sm)
    height: 230px
    &__chat
      position: absolute
      right: 0
      top: 90%
    &:not(.active)
      .firstScreenBot
        &__dialog
          opacity: 0
        &__chat
          opacity: 0
          transform: translateY(-20px)
  @media (min-width: $lg)
    height: 380px
    &__chat
      top: 100%

@keyframes flying
  0%
    transform: translateY(0) translateX(0)
  25%
    transform: translateY(10px) translateX(5px)
  50%
    transform: translateY(0) translateX(-2px)
  62%
    transform: translateY(10px) translateX(7px)
  75%
    transform: translateY(-5px) translateX(0)
  100%
    transform: translateY(0) translateX(0)