.footer
  padding-top: 10px
  background-color: #efefef
  border-bottom: 10px solid #efefef
  &__logo
    width: 140px
    padding: 15px 0
  &__soc
    padding: 15px 0
  &__menu
    padding: 15px 0
  &__socIcon
    display: inline-block
    vertical-align: top
    text-decoration: none !important
    border: none !important
    transition: .2s
    position: relative
    height: 40px
    width: 40px
    text-align: center
    padding-left: 2px
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    svg
      width: 20px
      position: relative
      display: inline-block
      vertical-align: middle
    &::before
      content: ''
      position: absolute
      width: 40px
      height: 40px
      background-color: #ffffff
      -webkit-border-radius: 999px
      -moz-border-radius: 999px
      border-radius: 999px
      top: 50%
      left: 50%
      transition: .3s
      transform: translate3d(-50%, -50%, 0) scale(0)
    &:hover
      &::before
        transform: translate3d(-50%, -50%, 0) scale(1)
  &__text
    color: darken(#fff, 20%)
    margin-bottom: 20px
    font-size: 10px
    a
      color: darken(#fff, 30%)
      border-color: darken(#fff, 30%)
      font-weight: normal
      text-transform: none
  @media(max-width: $lg)
    &__soc
      clear: both
  @media(min-width: $sm)
    &__row
      &::after
        content: ''
        display: block
        clear: both
    &__logo
      width: 30%
      float: left
      padding-bottom: 0
      svg
        width: 140px
    &__menu
      width: 70%
      float: left
      padding-top: 20px
    &__text
      float: left
      width: 30%
      font-size: 14px
      line-height: 25px
      &:nth-child(2)
        width: 40%
      &:nth-child(3)
        text-align: right
  @media(min-width: $lg)
    padding-top: 40px
    padding-bottom: 0
    &__row
      margin-bottom: 40px
    &__soc
      float: right
      width: 30%
      text-align: right
      padding: 10px 0
    &__logo
      width: 30%
      float: left
    &__menu
      width: 40%
      float: left
      padding: 20px 0