.footerMenu
  white-space: initial
  text-align: justify
  -ms-text-align-last: justify
  text-align-last: justify
  &::after
    content: ''
    display: inline-block
    width: 100%
  &__item
    display: inline-block
    color: #333333
    border-bottom: 1px solid transparent
    &:hover
      color: $base