.form
  width: 100%
  position: relative
  &__input
    width: 100%
    height: 60px
    vertical-align: middle
    padding-right: 50px
    transition: .3s
    &::placeholder
      font-size: 10px
  &__btn
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 60px
    -webkit-border-radius: 999px
    -moz-border-radius: 999px
    border-radius: 999px
    background-color: transparent
    cursor: pointer
    svg
      width: 20px
      path
        transition: .3s
    &:hover
      svg
        path
          fill: darken($light_blue, 10%)
  &__success
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    color: #ffffff
    font-size: 14px
    text-align: center
    transform: scale(0)
    transition: .5s
    pointer-events: none
    span
      display: inline-block
      vertical-align: middle
      max-width: 40%
    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      height: 100%
  &.loading
    pointer-events: none
    .form__btn
      background-image: url(../../svg/loader_blue.svg)
      background-position: center
      background-repeat: no-repeat
      -webkit-background-size: 30px
      background-size: 30px
      animation: rotate 2s infinite linear
      svg
        display: none
    .form__input
      color: #aaa
  &.success
    .form__btn
      opacity: 0
    .form__input
      transform: translateY(200%)
    .form__success
      transform: scale(1)
  @media (min-width: $sm)
    &__input::placeholder
      font-size: inherit