.header
  position: relative
  padding: 15px 0
  &__logo
    width: 140px
    display: block
    border: none !important
  &__menuBtn
    display: none
    width: 22px
    position: absolute
    top: 25px
    right: 0
    span
      display: block
      height: 2px
      background-color: #ffffff
      &:not(:last-child)
        margin-bottom: 4px
  @media (max-width: $sm)
    &__menu
      display: none
  @media (min-width: $sm)
    padding: 40px 0
    &__menuBtn
      display: none
    &::after
      content: ''
      display: block
      clear: both
    &__logo
      float: left
    &__menu
      padding-top: 5px
      width: 400px
      float: right