.headerMenu
  &::after
    content: ''
    display: inline-block
    width: 100%
  &__item a
    color: #ffffff
    &:hover
      color: $blue
      border-bottom-color: $blue
  @media (max-width: $sm)
    &__item
      display: block
  @media (min-width: $sm)
    text-align: justify
    text-align-last: justify
    &__item
      display: inline-block