.interview
  position: relative
  .btn
    width: 80px
    float: left
  .progress
    float: left
    width: calc(100% - 80px)
    padding-left: 5px
    padding-top: 8px
  &__item
    width: 220px
    &:first-child
      margin-bottom: 5px
    &::after
      content: ''
      display: block
      clear: both
  &__shapes
    transition: .5s
    &> span
      position: relative
      display: block
      transition: .5s
      &:not(:first-child)
        height: 25px
        width: 80px
        .circle
          transition: .5s
          position: absolute
          background-color: $base_lite
          display: block
          width: 80px
          font-size: 10px
          height: 25px
          -webkit-border-radius: 999px
          -moz-border-radius: 999px
          border-radius: 999px
        .txt
          white-space: nowrap
          margin: 0
          display: inline-block
          position: absolute
          padding-top: 4px
          left: 50%
          transform: translateX(-50%)
          font-size: 10px
          transition: .5s
          transition-delay: .5s
          text-align: center
          &::before
            content: ''
            position: absolute
            left: 0
            top: 9px
            width: 5px
            height: 5px
            background-color: #ffffff
            -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            opacity: 0
            transition: .5s
          &::after
            content: ''
            position: absolute
            left: 2px
            top: 11px
            height: 1px
            background-color: #ffffff
            right: 50px
            opacity: 0
            transition: .5s
      &:first-child
        background-color: $base_lite
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        opacity: 0
        width: 80px
        height: 80px
        -webkit-border-radius: 999px
        -moz-border-radius: 999px
        border-radius: 999px
      &:nth-child(3)
        transform: translateY(5px)
        .circle
          background-color: $yellow
    &.circle
      margin-right: 80px
      &> span
        &:nth-child(1)
          opacity: 1
          transition: 0s
          transition-delay: .5s
        &:nth-child(3)
          transform: none
          z-index: 10
        &:nth-child(2), &:nth-child(3)
          height: 40px
          .circle
            height: 40px
          .txt
            left: 0
            transform: translateX(60px)
            padding-left: 50px
            &::after, &::before
              opacity: 1
        &:nth-child(2)
          z-index: 20
          .txt
            transform: translateX(60px) translateY(18px)
            &::after
              right: 40px
        &:nth-child(2) .circle
          transform-origin: center bottom
          border-bottom-right-radius: 0
          border-bottom-left-radius: 0
          border-top-right-radius: 40px
          border-top-left-radius: 40px
        &:nth-child(3) .circle
          transform-origin: center top
          border-bottom-right-radius: 40px
          border-bottom-left-radius: 40px
          border-top-right-radius: 0
          border-top-left-radius: 0
    &.complete
      &> span
        &:nth-child(2) .circle
          transition: .8s
          transition-timing-function: ease-in-out
          transform: rotate(-120deg)

.progress
  position: relative
  &__bar
    display: block
    height: 4px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    background-color: #ffffff
  &__number
    position: absolute
    left: 5px
    right: 0
    bottom: 6px
    text-align: center
    font-size: 10px