.oneExample
  &__img
    text-align: center
    margin-bottom: 10px
    img
      width: 60%
      max-width: 300px
      display: inline-block
  @media (min-width: $sm)
    .subtitle
      font-size: 18px
    &::after
      content: ''
      display: block
      clear: both
    &__img, &__info
      float: left
      width: 50%
    &__img
      text-align: center
      margin-top: -70px
      img
        max-width: unset
        display: inline-block
        width: 220px
  @media (min-width: $lg)
    &__img
      margin-top: -120px
      img
        width: 350px
    &__info
      padding-right: 120px