.partners
  position: relative
  text-align: center
  padding-top: 40px
  padding-bottom: 60px
  overflow: hidden
  z-index: 20
  .container
    position: relative
  .text
    opacity: .6
  &__circle
    position: absolute
    background-color: #fff
    width: 300%
    -webkit-border-radius: 9999px
    -moz-border-radius: 9999px
    border-radius: 9999px
    transform: translate3d(-50%, 0, 0)
    left: 50%
    bottom: 0
    overflow: hidden
    &::after
      content: ''
      display: block
      padding-top: 100%
  &__slider
    padding-left: 50px
    padding-right: 50px
    margin-bottom: 40px
  &__item
    padding-left: 15px
    padding-right: 15px
    height: 40px
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    img
      display: inline-block!important
      vertical-align: middle
      filter: contrast(20%) grayscale(100%)
      opacity: .6
      max-width: 100%
      transition: .3s
    &:hover
      img
        opacity: 1
        filter: none
  &__owl
    .owl-stage-outer
    .owl-item
      img
        max-width: 100%
        max-height: 100%
        width: auto
      overflow: visible
    &:not(.owl-carousel)
      .partners__item
        float: left
        width: 33.33%
        &:nth-child(3) ~ .partners__item
          display: none
    .owl-dots
      text-align: center
    .owl-dot
      display: inline-block
      width: 9px
      height: 9px
      -webkit-border-radius: 99px
      -moz-border-radius: 99px
      border-radius: 99px
      background-color: #d8d8d8
      margin: 0 6px
      &.active
        background-color: $base_lite
  @media (min-width: $sm)
    &__owl
      .owl-stage-outer
        overflow: hidden
    .text
      max-width: 380px
      font-size: 16px
      opacity: .4
      margin-left: auto
      margin-right: auto
    &__circle
      -webkit-border-radius: 9999px
      -moz-border-radius: 9999px
      border-radius: 9999px
      width: 300vw
      height: 300vw
      bottom: 0
  @media (min-width: $lg)
    padding-top: 100px
    padding-bottom: 100px