.questionsForm
  background-color: $light_blue
  padding-top: 35px
  padding-bottom: 45px
  overflow: hidden
  .title
    color: #ffffff
    font-weight: 100
    margin-bottom: 20px
  @media (min-width: $sm)
    .container
      padding-left: 65px
      padding-right: 65px
    &::after
      content: ''
      clear: both
      display: block
    .title
      width: 200px
      float: left
      margin-bottom: 0
      letter-spacing: .05em
      line-height: 1.1em
    .form
      margin-top: 10px
      width: calc(100% - 200px)
      float: left
  @media (min-width: $lg)
    padding: 115px 0
    .title
      font-size: 35px
      width: 400px
      padding-top: 20px
    .form
      width: calc(100% - 400px)
