.smartPhoneWrapper
  position: relative
  margin-right: -100px
  &::after
    content: ''
    display: block
    padding-top: 77%
  &__back
    background-color: $base
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    .circles, .lights
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      div
        transform: translateY(-50%) translateX(-50%)
        position: absolute
        &::after
          content: ''
          display: block
          padding-top: 100%
        span
          -webkit-border-radius: 9999px
          -moz-border-radius: 9999px
          border-radius: 9999px
          display: block
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
    .lights
      div
        width: 700px
        height: 700px
        top: 150%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        span
          background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 60%)
    .circles
      div
        width: 200px
        &:first-child
          width: 150px
          top: 50%
          span
            background-image: radial-gradient(circle at 50% 84%, transparent 20%, rgba(74, 152, 208, 0.6) 215%)
        &:nth-child(2)
          width: 35vw
          left: 40%
          top: 35%
          span
            background-image: radial-gradient(transparent 20%, rgba(0, 0, 0, 0.3) 215%)
        &:nth-child(3)
          width: 20vw
          left: 40%
          top: 35%
          span
            background-image: radial-gradient(transparent 20%, rgba(0, 0, 0, 0.3) 215%)
        &:nth-child(4)
          left: 70%
          top: 80%
          span
            background-image: radial-gradient(circle at 84% 50%, transparent 20%, rgba(74, 152, 208, 0.8) 150%)
  &__borderTop, &__borderBottom
    position: absolute
    left: -2px
    right: -2px
    svg
      width: 100%
      transform-origin: left top
  &__borderTop
    top: -2px
  &__borderBottom
    top: 20%
  &__smartPhone
    width: 45%
    left: 100px
    top: -50px
    position: absolute
