.smartPhone
  background-image: url(../../img/screen.png)
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  position: relative
  &::after
    content: ''
    display: block
    padding-top: 200%
  &__dialog
    background-color: #ececec
    position: absolute
    top: 13%
    bottom: 17%
    left: 6%
    right: 6%
    overflow: hidden
  &__owl
    &.owl-carousel
      z-index: unset
    .owl-item
      .smartPhoneDialog
        & > div
          transition: .2s
        &_1
          & > div
            &:first-child
              transition-delay: .5s
            &:nth-child(2)
              transition-delay: 1.5s
            &:nth-child(3)
              transition-delay: 1.8s
        &_2
          & > div
            &:first-child
              transition-delay: .5s
            &:nth-child(2)
              transition-delay: .8s
            &:nth-child(3)
              transition-delay: 1s
            &:nth-child(4)
              transition-delay: 6.3s
            &:nth-child(5)
              transition-delay: 6.8s
        &_3
          & > div
            &:first-child
              transition-delay: .5s
            &:nth-child(2)
              transition-delay: .8s
            &:nth-child(3)
              transition-delay: 1.8s
            &:nth-child(4)
              transition-delay: 2.1s
        &_4
          & > div
            &:first-child
              transition-delay: .5s
            &:nth-child(2)
              transition-delay: .8s
            &:nth-child(3)
              transition-delay: 1.8s
            &:nth-child(4)
              transition-delay: 2.1s
            &:nth-child(5)
              transition-delay: 3.1s
      &:not(.active)
        .smartPhoneDialog > div
          transition-delay: 0s
          opacity: 0
          transform: translateY(10px)