.smartPhoneDialog
  position: relative
  padding: 10px 5px 0
  &__message
    font-size: 11px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    padding: 5px 9px
    margin-bottom: 5px
    img
      max-width: 100%
    &.white
      background-color: #ffffff
      margin-right: 30%
    &.blue
      background-color: $light_blue
      margin-left: 30%
    &.sticker
      img
        width: 100px
  &__slide
    font-size: 10px
    b
      font-weight: 500
    em
      font-style: normal
      color: red
    small
      display: block
      margin-top: 5px
  &__buttons
    margin-bottom: 5px
    span
      display: inline-block
      padding: 0 4px
      background-color: rgba(0, 0, 0, .1)
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      margin-right: 3px