.statisticBar
  position: relative
  width: 110px
  height: 180px
  *
    transition: .5s
  &__outer
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    transform: scaleY(.6)
    transform-origin: center bottom
  &__top
    position: absolute
    width: 70.7%
    bottom: 100%
    left: 50%
    transform: rotate(-45deg)
    transform-origin: left bottom
    background-color: lighten($base_lite, 10%)
    &::after
      content: ''
      display: block
      padding-top: 100%
  &__left
    position: absolute
    left: 0
    right: 50%
    top: 0
    bottom: 0
    background-color: $base_lite
    transform: skewY(45deg)
    transform-origin: right bottom
  &__right
    position: absolute
    left: 50%
    right: 0
    top: 0
    bottom: 0
    background-color: lighten($base_lite, 20%)
    transform: skewY(-45deg)
    transform-origin: left bottom
  &__number
    color: $base_lite
    font-size: 40px
    font-weight: bold
    top: 100%
    left: 100%
    position: absolute
    transform: scaleY(.6) rotate(45deg)
    transform-origin: 0 0
    margin-top: -20px