.statistic
  background-color: rgba($blue_bright, .05)
  position: relative
  overflow: hidden
  padding-top: 50px
  padding-bottom: 23%
  &__top, &__bottom
    position: absolute
    left: -200px
    right: -200px
    svg
      position: absolute
      left: 0
      right: 0
      width: 100%
  &__top
    top: -1px
  &__bottom
    pointer-events: none
    bottom: -1px
    left: -50%
    right: -15%
    width: 200%
    svg
      bottom: 0
  @media (max-width: $sm)
    .container
      padding-bottom: 50px
    &__diagram
      display: none
  @media (min-width: $sm)
    padding-bottom: 11%
    &__top, &__bottom
      left: 0
      right: 0
    &__bottom
      width: 100%
    &__row
      margin-bottom: 50px
      &::after
        content: ''
        display: block
        clear: both
    &__col
      width: 50%
      float: left
      min-height: 1px
    &__diagram
      margin-top: -40px
      .statisticDiagram
        width: 300px
        float: right
        margin-right: 60px
  @media (min-width: $lg)
    padding-top: 100px
    padding-bottom: 13%
    .quotes
      margin-bottom: 60px
    &__top, &__bottom
      left: 0
      right: 0
    &__bottom
      width: 100%
    &__diagram
      margin-top: -20px
      text-align: center
      .statisticDiagram
        width: 420px
        display: inline-block
        margin-right: auto
        float: none
    &__col
      &:nth-child(2)
        padding-right: 100px
  @media (min-width: $x_lg)
    padding-bottom: 9%
    &__top, &__bottom
      transform: scaleY(.6)
