.statisticDiagram
  position: relative
  height: 300px
  &__bars
    position: absolute
    bottom: 0
    left: 50px
  &__bar
    position: absolute
    bottom: 0
    &:first-child
      left: 85px
      bottom: 50px
      .statisticBar
        height: 150px
        &__top
          background-color: $blue
        &__left
          background-color: darken($blue, 10%)
        &__right
          background-color: lighten($blue, 10%)
        &__number
          color: $blue
    &:nth-child(2)
      left: 0
      .statisticBar
        height: 300px
  &__icons
    position: absolute
    top: 0
    bottom: 0
    padding-top: 90px
    svg
      opacity: .5
      width: 20px
      display: block
      margin-bottom: 20px
      use
        fill: $base !important
    &_right
      left: 270px
  @media (min-width: $lg)
    height: 350px
    &__bars
      left: 70px
      .statisticBar
        width: 160px
    &__bar
      &:first-child
        left: 120px
        bottom: 70px
        .statisticBar
          height: 200px
      &:nth-child(2)
        .statisticBar
          height: 400px
    &__icons
      padding-top: 50px
      svg
        width: 30px
        margin-bottom: 40px
      &_right
        left: 380px