.steps
  color: #ffffff
  position: relative
  padding-top: 70px
  padding-bottom: 60px
  overflow: hidden
  .container
    position: relative
  &__back
    display: block
    position: absolute
    width: 300%
    height: 300%
    background-color: $base_lite
    -webkit-border-radius: 999px
    -moz-border-radius: 999px
    border-radius: 999px
    transform: translate3d(-50%, 0, 0)
    left: 50%
    bottom: 0
    overflow: hidden
    &::after, &::before
      content: ''
      width: 700px
      height: 700px
      position: absolute
      background-image: radial-gradient(rgba(74, 152, 208, 1), transparent 60%)
      transform: translate3d(-50%, -50%, 0)
    &::after
      top: 106%
      left: 50%
    &::before
      bottom: -50px
      left: 50%
  li::before
    border-color: #ffffff
  .title
    text-align: center
    margin-bottom: 10px
  &__top
    position: absolute
    top: -1px
    left: 0
    right: 0
    svg
      width: 100%
  &__slider
    margin-left: -15px
    margin-right: -15px
  &__item
    padding-left: 15px
    padding-right: 15px
  &__owl
    &:not(.owl-carousel)
      .steps__item ~ .steps__item
        display: none
    .owl-dots
      text-align: center
    .owl-dot
      display: inline-block
      width: 9px
      height: 9px
      -webkit-border-radius: 99px
      -moz-border-radius: 99px
      border-radius: 99px
      background-color: #fff
      margin: 0 6px
      &.active
        background-color: $blue
  @media (max-width: $sm)
    &__control
      display: none
    &__img
      display: none
  @media (min-width: $sm)
    padding-top: 110px
    padding-bottom: 90px
    &__control
      z-index: 20
      position: relative
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 600px
      margin: 0 auto
      padding-bottom: 30px
    &__back
      width: 1980px
    &__btn
      text-transform: uppercase
      &:hover, &.active
        color: $blue
        cursor: pointer
    .title
      margin-bottom: 60px
    &__owl
      z-index: 10
      .owl-dots
        display: none
      .owl-stage
        width: 100% !important
        position: relative
        transform: none!important
        height: 400px
      .owl-stage-outer
        overflow: visible
      .owl-item
        position: static
    &__item
      position: absolute
      top: 0
      left: 0
      right: 0
      transition: .3s
      transition-delay: .3s
      &:not(.active)
        transform: translateY(30px)
        opacity: 0
        transition-delay: 0s
  @media (min-width: $sm)
    &__back
      width: 300vw
      height: 300vw
      -webkit-border-radius: 99999px
      -moz-border-radius: 99999px
      border-radius: 99999px
  @media (min-width: $lg)
    padding-top: 140px
    padding-bottom: 150px
    .title
      margin-bottom: 50px
    &__back
      &::before
        bottom: auto
        width: 100vw
        height: 100vw
        top: 80%
      &::after
        top: 103%
        width: 100vw
        height: 100vw