.stepsSlide
  padding-top: 60px
  &__number
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: 0 15px
    font-size: 200px
    line-height: 1em
    font-family: Circe, serif
    font-weight: bold
    color: rgba(lighten($base_lite, 20%), .4)
  &__text
    position: relative
    small
      display: block
      font-size: 80%
      line-height: 1.6em
      color: rgba(#fff, .8)
  @media (max-width: $sm)
    &__img
      display: none
  @media (min-width: $sm)
    padding-top: 45px
    &::after
      content: ''
      display: block
      clear: both
    &__left, &__text
      width: 50%
      float: left
    &__img
      position: relative
      transform: scaleX(-1)
      text-align: center
      padding-top: 60px
      img
        display: inline-block !important
        width: 120px !important
    &__number
      right: auto
      top: 60px
      left: 25%
      transform: translateX(-50%)
      font-size: 300px
  @media (min-width: $lg)
    &__number
      font-size: 400px
      top: 20px
    &__slider
      overflow: hidden
    &__text
      .text
        font-weight: 100
      .subtitle
        margin-bottom: 20px
        font-size: 18px
        letter-spacing: .05em
    &__img
      padding-top: 0
      text-align: right
      padding-right: 90px
      img
        width: 200px !important