.stickerSlider
  position: relative
  width: 120px
  &__outer
    position: relative
    transition: .5s
    perspective: 200px
    height: 200px
    &::after
      content: ''
      display: block
      clear: both
  &__item
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    backface-visibility: hidden
    transition: .5s
    img
      display: inline-block
      vertical-align: middle
    &::after
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
    &:nth-child(2)
      transform: rotateY(-180deg)
    &:nth-child(3)
      transform: rotateX(-180deg)
  &.active
    .stickerSlider
      &__item
        &:first-child
          transform: rotateY(-180deg)
        &:nth-child(2)
          transform: rotateY(0deg)
  &.complete
    .stickerSlider
      &__item
        &:nth-child(2)
          transform: rotateX(180deg)
        &:nth-child(3)
          transform: rotateX(0deg)