.tabs
  &__content
    .owl-dots
      text-align: center
    .owl-dot
      display: inline-block
      width: 9px
      height: 9px
      -webkit-border-radius: 99px
      -moz-border-radius: 99px
      border-radius: 99px
      background-color: #d8d8d8
      margin: 0 6px
      &.active
        background-color: $base_lite
  &__tab
    height: 270px
    padding-left: 15px
    padding-right: 15px
  &__slider
    margin-left: -15px
    margin-right: -15px
  @media (max-width: $lg)
    &__head
      display: none
  @media (min-width: $sm)
    &__content
      .owl-dots
        padding-left: 20px
        margin-right: -100%
        position: relative
        z-index: 20
  @media (min-width: $lg)
    &__head
      display: flex
      flex-direction: row
      justify-content: space-between
    &__btn
      color: #BBBBBC
      text-transform: uppercase
      font-weight: 500
      border-bottom: 1px dashed #bbbbbc
      cursor: pointer
      &.active
        color: $base_lite
        border: none
        font-weight: 600
    &__content
      padding-top: 60px
      .owl-dots
        display: none
      .owl-stage
        width: 100% !important
        position: relative
        transform: none!important
      .owl-stage-outer
        overflow: visible
      .owl-item
        position: static
    &__tab
      position: absolute
      top: 0
      left: 0
      right: 0
      transition: .3s
      transition-delay: .3s
      &:not(.active)
        transform: translateY(-30px)
        opacity: 0
        transition-delay: 0s
        pointer-events: none