.trustSection
  overflow: hidden
  z-index: 10
  position: relative
  padding-bottom: 50px
  @media (max-width: $sm)
    &__right
      display: none
  @media (min-width: $sm)
    &::after
      content: ''
      display: block
      clear: both
    &__left, &__right
      width: 50%
      float: left
    &__left
      padding-right: 20px
  @media (min-width: $lg)
    margin-top: -150px
    &__left
      padding-right: 130px
    .quotes
      margin-bottom: 50px